In [319]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import time
import requests
from bs4 import BeautifulSoup
import lxml
import json
from urllib.parse import quote

from futsim_funcs import TPR,TFR,TPSR,TGKR,TDR

In [156]:
import warnings
warnings.filterwarnings("ignore", message="The default value of numeric_only in DataFrame.mean is deprecated.", category=FutureWarning)

In [157]:
players_df = pd.read_csv("../fifa24_db/pdb_23.csv")

In [158]:
tpr_data = TPR(players_df) # Overall
tfr_data = TFR(players_df) # Shooting
tgkr_data = TGKR(players_df) # Goalkeeping
tdr_data = TDR(players_df) # Defense

In [159]:
tdr_data.sort_values("power", ascending=False).head(n=5)

     league_id  club_team_id     league_name        club_name  power  defense
84          13            10  Premier League  Manchester City     85       74
109         53           243         La Liga      Real Madrid     84       78
30          13             5  Premier League          Chelsea     84       75
81          13             9  Premier League        Liverpool     84       75
70          31            44         Serie A            Inter     83       75

<br><br><br><br>

# FBRef Match Logs URLs

In [160]:
leagues = ["Premier League", "Serie A", "Ligue 1", "LaLiga", "Bundesliga"]
fbref_league_dict = {
    "Premier League": {"name": "Premier League", "league_id": 9},
    "Serie A": {"name": "Serie A", "league_id": 11},
    "Ligue 1": {"name": "Ligue 1", "league_id": 13},
    "LaLiga": {"name": "LaLiga", "league_id": 12},
    "Bundesliga": {"name": "Bundesliga", "league_id": 20},   
}

In [161]:
def GetTeamCredentials(league_id, season="2022-2023"):
    league_url = f"https://fbref.com/en/comps/{league_id}/{season}"
    response = requests.get(league_url)
    soup = BeautifulSoup(response.content, "lxml")

    table = soup.find("table", {"class": "stats_table"})
    team_ids = []
    team_names = []

    for row in table.find_all("tr")[1:]:
        team_name = row.find("td", {"data-stat": "team"}).text
        team_id = row.find("td", {"data-stat": "team"}).a.get("href").split("/")[3]
        team_ids.append(team_id)
        team_names.append(team_name)
    return {
        "team_ids":team_ids,
        "team_names":team_names,
    }

In [162]:
from rapidfuzz import process
def find_best_match(name, choices):
    return process.extractOne(name, choices)

In [163]:
def TFRFromId(tfr_data, club_team_id):
    power = tfr_data.query(f"club_team_id == {club_team_id}")["power"].iloc[0]
    finishing = tfr_data.query(f"club_team_id == {club_team_id}")["finishing"].iloc[0]
    return {
        "power": power,
        "finishing": finishing,
    }

In [164]:
def TeamNameIdConverter(tpr_data, team_name, league_id, print_output=False):
    # TeamNameIdConverter(tpr_data,"chelseas",13,1)
    club_team_names = tpr_data.query(f"league_id == {league_id}")["club_name"].tolist()
    club_team_ids = tpr_data.query(f"league_id == {league_id}")["club_team_id"].tolist()
    club_team_name, score, other = find_best_match(team_name, club_team_names)
    club_team_id = club_team_ids[club_team_names.index(club_team_name)]
    if print_output:
        print(f"ID for {club_team_name}:")
    return club_team_id

In [165]:
creds = GetTeamCredentials(fbref_league_dict["LaLiga"]["league_id"], "2022-2023")

def FB_URLS(stat_attribute, fbref_league_id, league_id, season="2022-2023"):
    team_ids = creds["team_ids"]
    team_names = creds["team_names"]
    club_team_names = tpr_data.query(f"league_id == {league_id}")["club_name"].tolist()
    club_team_ids = tpr_data.query(f"league_id == {league_id}")["club_team_id"].tolist()

    for team_id, team_name in zip(team_ids, team_names):
        best_match = find_best_match(team_name, club_team_names)
        if best_match:
            club_team_name, score, other = best_match
            club_team_id = club_team_ids[club_team_names.index(club_team_name)]
            match_logs_url = f"https://fbref.com/en/squads/{team_id}/{season}/matchlogs/c{fbref_league_id}/{stat_attribute}/{team_name.replace(' ', '-')}"
            match_logs_stats_dict[stat_attribute].append({
                "id": team_id,
                "stat": stat_attribute,
                "team": team_name,
                "club_team_id": club_team_id,
                "club_team_name": club_team_name, 
                "url": match_logs_url
            })
        else:
            print(f"No match found for team: {team_name}")

In [166]:
match_logs_stats_dict = {
    "shooting":[],
    "passing":[],
    "defense":[],
    "keeper":[],
    "passing_types":[],
    "gca":[],
    "possession":[],
    "misc":[],
}

attributes = match_logs_stats_dict.keys()
fbref_league_id = 12
league_id = 53
league_name = "LaLiga"

for stat_attribute in attributes:
    FB_URLS(stat_attribute, fbref_league_id, league_id)

In [167]:
### <Match Logs' URLS are Ready!>

<br><br><br><br>

<h1 style="color:green">Scraping FBRef</h1>

In [168]:
df=pd.read_html("https://fbref.com/en/squads/b8fd03ef/2022-2023/matchlogs/c9/shooting/-Manchester-City")[1][:38]
df.head(n=38).sort_values(('Against Manchester City', 'Date')).head()

  Against Manchester City                                              \
                     Date   Time        Round  Day Venue Result GF GA
0              2022-08-07  16:30  Matchweek 1  Sun  Home      L  0  2
1              2022-08-13  15:00  Matchweek 2  Sat  Away      L  0  4
2              2022-08-21  16:30  Matchweek 3  Sun  Home      D  3  3
3              2022-08-27  15:00  Matchweek 4  Sat  Away      L  2  4
4              2022-08-31  19:30  Matchweek 5  Wed  Away      L  0  6

                   Standard  ...                   Expected                    \
          Opponent      Gls  ...  Dist FK PK PKatt       xG npxG npxG/Sh G-xG
0         West Ham        0  ...  16.3  0  0     0      0.5  0.5    0.08 -0.5
1      Bournemouth        0  ...  20.6  0  0     0      0.1  0.1    0.04 -0.1
2    Newcastle Utd        3  ...  14.8  1  0     0      1.8  1.8    0.15  1.2
3   Crystal Palace        1  ...  20.6  0  0     0      0.1  0.1    0.06  0.9
4  Nott'ham Forest        0  ...  18.4  1  0     0      0.7  0.7    0.08 -0.7

          Unnamed: 24_level_0
  np:G-xG        Match Report
0    -0.5        Match Report
1    -0.1        Match Report
2     1.2        Match Report
3     0.9        Match Report
4    -0.7        Match Report

[5 rows x 25 columns]

In [169]:
def FB_MatchLogs(url, last_matchweek=38):
    encoded_url = quote(url, safe=':/')
    df=pd.read_html(encoded_url)
    return {
        "for": df[0][:last_matchweek],
        "against": df[1][:last_matchweek],
    }

In [170]:
def MatchLogs_MultiIndexColumnDict(df, stat_attribute=None):
    stat_columns_dict = {}
    for item in df.columns:
        right_side = item[1]
        stat_columns_dict[right_side] = item
    if stat_attribute:
        return stat_columns_dict[stat_attribute]
    return stat_columns_dict

In [171]:
match_logs_stats_dict["shooting"][0]

{'id': '206d90db',
 'stat': 'shooting',
 'team': ' Barcelona',
 'club_team_id': 241,
 'club_team_name': 'FC Barcelona',
 'url': 'https://fbref.com/en/squads/206d90db/2022-2023/matchlogs/c12/shooting/-Barcelona'}

<br><br><br><br>
<h1 style="color:black">Match Logs DataFrame</h1>

In [172]:
df_log_array = []

In [300]:
# for tindex in range(20):
#     print(tindex)
#     time.sleep(5)
#     current_team = match_logs_stats_dict["shooting"][tindex]

#     url = current_team["url"]
#     print(url)
    
#     df = FB_MatchLogs(url, last_matchweek=38)
#     df_for = df["for"]
#     df_against = df["against"]
#     logs_cols_for = MatchLogs_MultiIndexColumnDict(df_for)
#     logs_cols_against = MatchLogs_MultiIndexColumnDict(df_against)

#     team_names = df_for[logs_cols_for["Opponent"]].unique().tolist()
#     team_ids = [TeamNameIdConverter(tpr_data, team_name, league_id) for team_name in team_names]
#     team_rating_data = TFRFromId(tfr_data, current_team["club_team_id"])

#     for i in range(38):
#         x = df_for.iloc[i]
#         y = df_against.iloc[i]
#         x_rating_data = TFRFromId(tfr_data, current_team["club_team_id"])
#         y_rating_data = TFRFromId(tfr_data, TeamNameIdConverter(tpr_data, y[logs_cols_against["Opponent"]], league_id))
#         lab_df_dict = {
#             "team_name": current_team["club_team_name"],
#             "team_id": current_team["club_team_id"],
#             "team_sh": x[logs_cols_for["Sh"]],
#             "team_sot": x[logs_cols_for["SoT"]],
#             "team_scored": x[logs_cols_for["Gls"]],
#             "opponent_name": y[logs_cols_against["Opponent"]],
#             "opponent_id": TeamNameIdConverter(tpr_data, y[logs_cols_against["Opponent"]], 13),
#             "opponent_sh": y[logs_cols_against["Sh"]],
#             "opponent_sot": y[logs_cols_against["SoT"]],
#             "opponent_scored": y[logs_cols_against["Gls"]],
#             "team_power": x_rating_data["power"],
#             "team_finishing": x_rating_data["finishing"],
#             "opponent_power": y_rating_data["power"],
#             "opponent_finishing": y_rating_data["finishing"],
#             "team_sh_share": x[logs_cols_for["Sh"]] / ( x[logs_cols_for["Sh"]] + y[logs_cols_against["Sh"]] ),
#             "opponent_sh_share": y[logs_cols_against["Sh"]] / ( x[logs_cols_for["Sh"]] + y[logs_cols_against["Sh"]] ),
#         }
#         df_log_array.append(lab_df_dict)
        
# df_log = pd.DataFrame(df_log_array)
league_name_for_csv_file = league_name
# df_log.to_csv(f"../@blacksmith/match_logs/fbref_match_logs_{league_name_for_csv_file}.csv")

In [301]:
df_log = pd.read_csv(f"../@blacksmith/match_logs/fbref_match_logs_{league_name_for_csv_file}.csv")

<br><br><br><br>
<h1 style="color:aqua">Regression Boilerplate</h1>

In [302]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

def train_linear_regression(df, features, target_variable, apply_dtype, test_size=0.19, random_state=42):
    """
    Train a linear regression model and evaluate its performance.

    Args:
    - df (DataFrame): Input DataFrame containing the dataset.
    - features (list): List of feature columns.
    - target_variable (str): Name of the target variable column.
    - test_size (float): Proportion of the dataset to include in the test split.
    - random_state (int): Random seed for reproducibility.

    Returns:
    - model (LinearRegression): Trained linear regression model.
    - mse (float): Mean squared error of the model.
    - coefficients (dict): Coefficients of the trained model.
    """

    X = df[features]
    y = df[target_variable]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    model = LinearRegression()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    df['predicted'] = model.predict(df[features])
    df['predicted'] = df['predicted'].apply(apply_dtype)
    
    mse = mean_squared_error(y_test, y_pred)
    coefficients = dict(zip(features, model.coef_))
    intercept = model.intercept_
    return model, mse, coefficients, intercept

def model_error(df, target_variable):
    df['error'] = df[target_variable] - df['predicted']
    return df['error'].apply(abs)

def model_head(df, features, target_variable, sort_parameter="team_power", sort_ascending=False, n=5):
    return df[features+[target_variable,"predicted","error"]].sort_values(sort_parameter, ascending=sort_ascending).head(n=n)

def model_equation(coefficients, intercept):
    equation = " + ".join([f"{coef:.2e} * {feat}" for feat, coef in coefficients.items()])
    equation = equation + f" + {intercept:.2e}"
    equation = equation.replace("+ -", "- ")
    return equation

def model_predict(**args):
    pass

def plot_predicted_vs_actual(df, target_variable, model=None, features=None):
    """
    Plot the actual values and predicted values from a DataFrame.

    Args:
    - df (DataFrame): Input DataFrame containing the dataset.
    - target_variable (str): Name of the target variable column.
    - model (LinearRegression): Trained linear regression model.
    - features (list): List of feature columns used in the model (optional).

    Returns:
    - None
    """

    plt.figure(figsize=(10, 6))
    plt.plot(df.index, df[target_variable], marker='o', linestyle='-', color="b", label='Actual')
    
    if model and features:
        plt.plot(df.index, df['predicted'], marker='o', linestyle='-', color="r", label='Predicted')
    plt.title('Line Plot of Predicted Values')
    plt.xlabel('Index')
    plt.ylabel('Value')
    plt.legend()
    plt.grid(True)
    plt.show()

In [341]:
def convert_equation_to_json(features, values, intercept):
    # Usage: convert_equation_to_json(features, coefficients.values(), intercept)
    equation_dict = {}
    for feature, value in zip(features, values):
        equation_dict[feature] = {
            "name": feature,
            "value": value
        }
    equation_dict["intercept"] = {"name":"intercept", "value":intercept}
    return equation_dict

<br>
<h1 style="color:aqua">Randomness Factor</h1>

In [303]:
def randomness_proportional(df, target_variable):
    target_mean = df[target_variable].mean()
    target_std = df[target_variable].std()
    target_min = df[target_variable].min()
    target_max = df[target_variable].max()
    formula = (target_min) / (target_mean) 
    print("Min:",target_min, ",", "Max:",target_max)
    return formula

def randomness_volume(df, target_variable):
    target_mean = df[target_variable].mean()
    target_std = df[target_variable].std()
    target_min = df[target_variable].min()
    target_max = df[target_variable].max()
    formula = (target_mean) / (target_std)
    print("Min:",target_min, ",", "Max:",target_max)
    return formula

In [304]:
def interval_proportional(value, step=0.05):
    lower_bound = value - step
    upper_bound = value + step
    numbers = np.arange(-upper_bound, upper_bound + step*3, step)
    return numbers

def interval_volume(value, step=1):
    lower_bound = int(value - step)
    upper_bound = int(value + step)
    numbers = np.arange(-upper_bound, upper_bound + step*3, step)
    return numbers

In [305]:
def probability_protector(value):
    if value < 0:
        return 0
    elif value > 1:
        return 1
    else:
        return value

In [306]:
def random_choice(array):
    return np.random.choice(array)

<br><br><br><br>
<h1 style="color:red">Total Shot Volume</h1>

In [342]:
columns_to_drop = ['team_name','team_id','opponent_name','opponent_id']
df = df_log
df["total_sh"] =  df["team_sh"] + df["opponent_sh"]

In [343]:
features = ['team_power', 'team_finishing', 'opponent_power', 'opponent_finishing', "team_sh", "opponent_sh"]
target_variable = 'total_sh'

In [344]:
model, mse, coefficients, intercept = train_linear_regression(df, features, target_variable, int)
mean_error = model_error(df, target_variable).mean()
std_error = model_error(df, target_variable).std()
print("Mean Squared Error:", mse)
print("Error Mean:", mean_error)

Mean Squared Error: 8.682910377467137e-30
Error Mean: 0.18552631578947368

In [345]:
# plot_predicted_vs_actual(df, target_variable, model=model, features=features)

In [346]:
model_equation(coefficients, intercept)

'-1.68e-17 * team_power - 8.07e-17 * team_finishing + 1.91e-16 * opponent_power - 5.76e-16 * opponent_finishing + 1.00e+00 * team_sh + 1.00e+00 * opponent_sh + 4.26e-14'

In [347]:
model_head(df, features+columns_to_drop, target_variable, sort_parameter="predicted", sort_ascending=True, n=5)

,team_power,team_finishing,opponent_power,opponent_finishing,team_sh,opponent_sh,team_name,team_id,opponent_name,opponent_id,total_sh,predicted,error
296,78,74,81,75,6,3,Athletic Club,448,Sevilla,2,9,9,0
448,81,75,78,74,3,6,Sevilla,481,Athletic Club,5,9,9,0
333,74,72,76,76,8,3,Mallorca,453,Getafe,10,11,11,0
561,76,76,74,72,3,8,Getafe,1860,Mallorca,10,11,11,0
751,74,74,75,71,7,5,Elche,468,Valencia,10,12,12,0

In [348]:
randomness_func, interval_func = randomness_volume, interval_volume
result = randomness_func(df, target_variable)
interval = interval_func(result, step=1)

print("Result:", result)
print("Interval:", interval)
random_choice(interval)

Min: 9 , Max: 47
Result: 4.4231151718134
Interval: [-5 -4 -3 -2 -1  0  1  2  3  4  5  6  7]

1

In [508]:
df["randomness"] = df["predicted"].copy()
df["randomness"] = df["predicted"].apply(lambda value: value + random_choice(interval))

df[features+columns_to_drop+[target_variable,"predicted","randomness"]].head(n=5).sort_values("randomness")

,team_power,opponent_power,team_name,team_id,opponent_name,opponent_id,team_sh_share,predicted,randomness
3,83,81,FC Barcelona,241,Sevilla,2,0.666667,0.539295,0.472372
2,83,74,FC Barcelona,241,Valladolid,2,0.750000,0.612326,0.535403
1,83,78,FC Barcelona,241,Real Sociedad,1,0.600000,0.570594,0.573671
0,83,75,FC Barcelona,241,Rayo Vallecano,2,0.840000,0.601893,0.604970
4,83,75,FC Barcelona,241,Cádiz,10,0.727273,0.601893,0.704970

<br><br><br><br>
<h1 style="color:red">Shot Share</h1>

In [399]:
features = ['team_power', 'opponent_power']
target_variable = 'team_sh_share'

In [400]:
model, mse, coefficients, intercept = train_linear_regression(df, features, target_variable, float)
mean_error = model_error(df, target_variable).mean()
std_error = model_error(df, target_variable).std()
print("Mean Squared Error:", mse)
print("Error Mean:", mean_error)

Mean Squared Error: 0.023256066852908472
Error Mean: 0.12653189274319573

In [401]:
model_equation(coefficients, intercept)

'1.34e-02 * team_power - 1.04e-02 * opponent_power + 2.72e-01'

In [402]:
# plot_predicted_vs_actual(df, target_variable, model=model, features=features)

In [403]:
model_head(df, features+columns_to_drop, target_variable, sort_parameter="predicted", sort_ascending=False, n=5)

,team_power,opponent_power,team_name,team_id,opponent_name,opponent_id,team_sh_share,predicted,error
49,84,73,Real Madrid,243,Girona,1808,0.730769,0.636166,0.094603
38,84,73,Real Madrid,243,Almería,110,0.743590,0.636166,0.107424
68,84,73,Real Madrid,243,Girona,1808,0.580645,0.636166,-0.055521
69,84,73,Real Madrid,243,Almería,110,0.608696,0.636166,-0.027470
57,84,74,Real Madrid,243,Mallorca,10,0.826087,0.625733,0.200354

In [404]:
randomness_func, interval_func = randomness_proportional, interval_proportional
result = randomness_func(df, target_variable)
interval = interval_func(result, step=0.01)

print("Result:", result)
print("Interval:", interval)
random_choice(interval)

Min: 0.0384615384615384 , Max: 0.9615384615384616
Result: 0.0769230769230768
Interval: [-0.08692308 -0.07692308 -0.06692308 -0.05692308 -0.04692308 -0.03692308
 -0.02692308 -0.01692308 -0.00692308  0.00307692  0.01307692  0.02307692
  0.03307692  0.04307692  0.05307692  0.06307692  0.07307692  0.08307692
  0.09307692  0.10307692  0.11307692]

0.09307692307692311

In [405]:
df["randomness"] = df["predicted"].copy()
df["randomness"] = df["predicted"].apply(lambda value: value + random_choice(interval))

df[features+columns_to_drop+[target_variable,"predicted","randomness"]].head(n=5).sort_values("randomness")

,team_power,opponent_power,team_name,team_id,opponent_name,opponent_id,team_sh_share,predicted,randomness
3,83,81,FC Barcelona,241,Sevilla,2,0.666667,0.539295,0.472372
2,83,74,FC Barcelona,241,Valladolid,2,0.750000,0.612326,0.595403
4,83,75,FC Barcelona,241,Cádiz,10,0.727273,0.601893,0.624970
1,83,78,FC Barcelona,241,Real Sociedad,1,0.600000,0.570594,0.663671
0,83,75,FC Barcelona,241,Rayo Vallecano,2,0.840000,0.601893,0.674970

In [507]:
team_power = 88
opponent_power = 73

y = 1.34e-02 * team_power - 1.04e-02 * opponent_power + 2.72e-01
probability_protector(y+random_choice(interval)) # MODEL IS DONE!

0.6950769230769233

<br><br><br><br>
<h1 style="color:red">Shot on Target</h1>

In [372]:
features = ['team_power', 'team_finishing', 'opponent_power', 'team_sh']
target_variable = 'team_sot'

In [373]:
model, mse, coefficients, intercept = train_linear_regression(df, features, target_variable, int)
mean_error = model_error(df, target_variable).mean()
std_error = model_error(df, target_variable).std()
print("Mean Squared Error:", mse)
print("Error Mean:", mean_error)

Mean Squared Error: 3.0006040975513724
Error Mean: 1.3644736842105263

In [374]:
model_equation(coefficients, intercept)

'-3.93e-03 * team_power + 1.99e-02 * team_finishing - 4.92e-02 * opponent_power + 3.02e-01 * team_sh + 2.97e+00'

In [375]:
# plot_predicted_vs_actual(df, target_variable, model=model, features=features)

In [376]:
model_head(df, features+columns_to_drop, target_variable, sort_parameter="predicted", sort_ascending=False, n=5)

,team_power,team_finishing,opponent_power,team_sh,team_name,team_id,opponent_name,opponent_id,team_sot,predicted,error
66,84,80,75,35,Real Madrid,243,Cádiz,10,11,11,0
182,80,82,75,30,Villarreal,483,Espanyol,1,12,9,3
64,84,80,74,29,Real Madrid,243,Valladolid,2,17,9,8
38,84,80,73,29,Real Madrid,243,Almería,110,15,9,6
679,74,71,81,28,Real Valladolid,462,Sevilla,2,4,8,-4

In [377]:
randomness_func, interval_func = randomness_volume, interval_volume
result = randomness_func(df, target_variable)
interval = interval_func(result, step=1)

print("Result:", result)
print("Interval:", interval)
random_choice(interval)

Min: 0 , Max: 17
Result: 1.7009399024455403
Interval: [-2 -1  0  1  2  3  4]

4

In [378]:
df["randomness"] = df["predicted"].copy()
df["randomness"] = df["predicted"].apply(lambda value: value + random_choice(interval))

df[features+columns_to_drop+[target_variable,"predicted","randomness"]].head(n=5).sort_values("randomness")

,team_power,team_finishing,opponent_power,team_sh,team_name,team_id,opponent_name,opponent_id,team_sot,predicted,randomness
1,83,74,78,15,FC Barcelona,241,Real Sociedad,1,7,4,3
0,83,74,75,21,FC Barcelona,241,Rayo Vallecano,2,5,6,4
3,83,74,81,18,FC Barcelona,241,Sevilla,2,5,5,6
4,83,74,75,16,FC Barcelona,241,Cádiz,10,8,5,7
2,83,74,74,24,FC Barcelona,241,Valladolid,2,9,7,9

<br><br><br><br>
<h1 style="color:purple">Shot Models Test</h1>

<br><br><br><br>
<h1 style="color:black">Lineup Test</h1>

In [364]:
lineup_test_ids = [230621, 235212, 155862, 207865, 252145, 199556, 234153, 230767, 231747, 158023, 190871]
test_team_df = []
for player_id in lineup_test_ids:
    player_df = players_df[players_df['player_id'] == player_id]
    test_team_df.append(player_df)
result_df = pd.concat(test_team_df, ignore_index=True)
TFR(result_df)

   league_id  club_team_id league_name            club_name  power  finishing
0         16            73     Ligue 1  Paris Saint Germain     85         79