In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
from bs4 import BeautifulSoup
import lxml
import requests
import unicodedata

In [3]:
import warnings
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category=(SettingWithCopyWarning))
warnings.simplefilter(action='ignore', category=(FutureWarning))

In [4]:
fm_df = pd.read_csv("players_db/fm23/uluta_fm23data.csv")

In [5]:
fm_df.columns = [col.strip() for col in fm_df.columns]

for col in fm_df.select_dtypes("object").columns:
   fm_df[col] = fm_df[col].apply(lambda x: x.strip())

In [6]:
fm_df.columns

Index(['UID', 'Inf', 'Name', 'DoB', 'Nat', 'Division', 'Club', 'Based',
       'Preferred Foot', 'Right Foot', 'Left Foot', 'Position', 'Height',
       'Weight', 'Age', 'Transfer Value', 'Wage', 'AT Apps', 'AT Gls', 'Team',
       'Caps', 'Yth Apps', 'Style', 'Rc Injury', 'Best Role', 'Best Duty',
       'Best Pos', 'Acc', 'Aer', 'Agg', 'Agi', 'Ant', 'Bal', 'Bra', 'Cmd',
       'Com', 'Cmp', 'Cnt', 'Cor', 'Cro', 'Dec', 'Det', 'Dri', 'Ecc', 'Fin',
       'Fir', 'Fla', 'Fre', 'Han', 'Hea', 'Jum', 'Kic', 'Ldr', 'Lon', 'L Th',
       'Mar', 'Nat .1', 'OtB', '1v1', 'Pac', 'Pas', 'Pen', 'Pos', 'Pun', 'Ref',
       'TRO', 'Sta', 'Str', 'Tck', 'Tea', 'Tec', 'Thr', 'Vis', 'Wor'],
      dtype='object')

<br><br><br><br>
# In

In [7]:
# Assume df is your DataFrame
new_column_names = {
    'Acc': 'Acceleration',
    'Aer': 'Aerial_Reach',
    'Agg': 'Aggression',
    'Agi': 'Agility',
    'Ant': 'Anticipation',
    'Bal': 'Balance',
    'Bra': 'Bravery',
    'Cmd': 'Command_of_Area',
    'Com': 'Communication',
    'Cmp': 'Composure',
    'Cnt': 'Concentration',
    'Cor': 'Corners',
    'Cro': 'Crossing',
    'Dec': 'Decisions',
    'Det': 'Determination',
    'Dri': 'Dribbling',
    'Ecc': 'Eccentricity',
    'Fin': 'Finishing',
    'Fir': 'First_Touch',
    'Fla': 'Flair',
    'Fre': 'Free_Kick_Taking',
    'Han': 'Handling',
    'Hea': 'Heading',
    'Jum': 'Jumping_Reach',
    'Kic': 'Kicking',
    'Ldr': 'Leadership',
    'Lon': 'Long_Shots',
    'L Th': 'Long_Throws',
    'Mar': 'Marking',
    'Nat .1': 'Natural_Fitness',
    'OtB': 'Off_the_Ball',
    '1v1': 'One_on_Ones',
    'Pac': 'Pace',
    'Pas': 'Passing',
    'Pen': 'Penalty_Taking',
    'Pos': 'Positioning',
    'Pun': 'Punching',
    'Ref': 'Reflexes',
    'TRO': 'Rushing_Out',
    'Sta': 'Stamina',
    'Str': 'Strength',
    'Tck': 'Tackling',
    'Tea': 'Teamwork',
    'Tec': 'Technique',
    'Thr': 'Throwing',
    'Vis': 'Vision',
    'Wor': 'Work_Rate'
}

# new_column_names = {key: value.lower() for key, value in new_column_names.items()}
fm_df.rename(columns=new_column_names, inplace=True)

In [ ]:
gk_attributes = [ "Aerial_Reach","Command_of_Area", "Communication","Eccentricity", "First_Touch", "Handling", "Kicking", "One_on_Ones", "Punching", "Reflexes", "Rushing_Out", "Throwing", "Passing" ]
fm_attributes = list(new_column_names.values())

fm_df[fm_attributes] = (fm_df[fm_attributes] * 4.95).astype(int)

In [ ]:
fm_attributes

In [712]:
fm_df['DoB'][0]

'14/8/1984 (37 years old)'

In [713]:
convert_date_format = lambda x: pd.to_datetime(x, format='%d/%m/%Y').strftime('%Y-%m-%d')
fm_df['DoB'] = fm_df['DoB'].apply(lambda x: x.split(" ")[0])
fm_df['DoB'] = fm_df['DoB'].apply(convert_date_format)

In [714]:
fm_df['DoB'][0]

'1984-08-14'

In [715]:
fm_df['Height'] = fm_df['Height'].apply(lambda x: x.split(" ")[0])

In [716]:
fm_df['Club_id'] = pd.Categorical(fm_df['Club']).codes
fm_df['League_id'] = pd.Categorical(fm_df['Division']).codes

In [717]:
fm_df = fm_df[fm_df['Inf'] != 'Yth']

In [718]:
fm_df = fm_df.rename(columns={
                        "Best Pos": "Best_Pos",
                        "Best Role": "Best_Role"
                    })

<br><br><br><br>
# Wage & Tranfer Value

In [719]:
fm_df['Transfer Value'] = fm_df['Transfer Value'].str.replace('‚Ç¨', '')
fm_df['Transfer Value'] = fm_df['Transfer Value'].str.replace('M', '000000')
fm_df['Transfer Value'] = fm_df['Transfer Value'].str.replace('K', '000')
fm_df['Transfer Value'] = fm_df['Transfer Value'].str.replace('Not for Sale', '')
fm_df[['Min_Value', 'Max_Value']] = fm_df['Transfer Value'].str.split(' - ', expand=True)
fm_df['Min_Value'] = pd.to_numeric(fm_df['Min_Value'])
fm_df['Max_Value'] = pd.to_numeric(fm_df['Max_Value'])
fm_df['Market_Value'] = (fm_df['Min_Value'] + fm_df['Max_Value']) / 2
fm_df['Market_Value'].fillna(0)

0              0.00
1              0.00
2         357500.00
3         495000.00
4         137501.45
            ...
189340         0.00
189341         0.00
189342         0.00
189343         0.00
189344         0.00
Name: Market_Value, Length: 173243, dtype: float64

In [721]:
wage = fm_df["Wage"]
wage = wage.str.replace('N/A', '100')
wage = wage.str.replace('-', '100')
wage = wage.str.replace('‚Ç¨', '').str.replace('p/m', '').str.replace(',','')
wage = pd.to_numeric(wage)
wage = wage.astype(int)
fm_df["Wage"] = wage

<br><br><br><br>
# Merged_DF

In [725]:
selected_leagues = ['English Premier Division',
 'Ligue 1 Uber Eats',
 'Spanish First Division',
 'Bundesliga',
 'Italian Serie A',
 'Eredivisie',
 'Portuguese Premier League',
 'Turkish Super League']

In [726]:
fm_df = fm_df[fm_df.Division.isin(selected_leagues)]

In [727]:
for leg in selected_leagues:
    q = fm_df.query(f"Division == '{leg}'")["Club"].value_counts()
    print(leg , "------", len(q.to_list()))

English Premier Division ------ 20
Ligue 1 Uber Eats ------ 20
Spanish First Division ------ 20
Bundesliga ------ 18
Italian Serie A ------ 20
Eredivisie ------ 18
Portuguese Premier League ------ 18
Turkish Super League ------ 19

In [728]:
fm_df.query(f"Division == 'Turkish Super League'")["Club"].value_counts()

Club
Kayserispor         41
Be≈üikta≈ü            41
Trabzonspor         40
Adana D.S.          39
Fenerbah√ße          37
Ankarag√ºc√º          37
ƒ∞stanbulspor        36
Galatasaray         35
Hatayspor           35
Kasƒ±mpa≈üa           35
Antalyaspor         34
Alanyaspor          34
Ba≈üak≈üehir FK       34
Sivasspor           33
Giresunspor         33
Gaziantep FK        32
Fatih Karag√ºmr√ºk    32
√úmraniyespor        32
Konyaspor           31
Name: count, dtype: int64

In [729]:
# fm_df.query(f"Club == 'Adana D.S.'").head()

<br><br><br><br>
# Team Names Converter from fminside.com

In [730]:
url_df = fm_df.drop_duplicates(subset=["Club"], keep="first")
url_df.loc[:, 'UID'] = url_df['UID'].apply(lambda text: str(text))
url_df = url_df[["Club", "UID"]]

In [731]:
def Player_to_URL(player_id):
    slug = player_id + "-x-x"
    return f"https://fminside.net/players/3-fm-23/{slug}"

In [732]:
def Convert_Team_Name_From_URL(player_id, club):
    url = Player_to_URL(player_id)
    req = requests.get(url)
    html = req.content
    soup = BeautifulSoup(html, "lxml")
    club_name_element = soup.find('div', class_='meta').find('ul').find_all('li')[0].text
    club_name = club_name_element.strip()
    return {"fm":club,"normal":club_name}

In [733]:
team_mapping_array = []
raw_names = url_df.to_dict()
uids = url_df["UID"]
clubs = url_df["Club"]
clubs_array = clubs.to_list()

In [734]:
# for uid,club in zip(uids,clubs):
#     new_entry = Convert_Team_Name_From_URL(uid, club)
#     print(new_entry)
#     team_mapping_array.append(new_entry)

In [735]:
fm_df.query("Name == 'Joshua Kimmich'")

,UID,Inf,Name,DoB,Nat,Division,Club,Based,Preferred Foot,Right Foot,...,Teamwork,Technique,Throwing,Vision,Work_Rate,Club_id,League_id,Min_Value,Max_Value,Market_Value
42332,92039023,,Joshua Kimmich,1995-02-08,GER,Bundesliga,FC Bayern,Germany (Bundesliga),Right,Very Strong,...,84,79,4,89,94,3704,185,96000000.0,119000000.0,107500000.0

In [736]:
fminside_normal_names = pd.read_csv("players_db/fm23/fminside_team_names.csv")
# merged_df = pd.merge(fm_df, fminside_normal_names, how='inner', left_on='Club', right_on='fm')
# merged_df['Club'] = merged_df['normal'].where(merged_df['Club'] == merged_df['fm'], merged_df['Club'])
# # merged_df.drop(['fm', 'normal'], axis=1, inplace=True)
# merged_df = merged_df[merged_df.fm.isin(clubs_array)]

In [737]:
fminside_club_names = []
for index, row in fminside_normal_names.iterrows():
  x_fm = row["fm"]
  x_normal = row["normal"]
  club_dict = {"fm": x_fm, "normal": x_normal}
  fminside_club_names.append(club_dict)

In [738]:
def Rename_Club(club_name):
    matched_club = ""
    for f in fminside_club_names:
        if f["fm"] == club_name:
            return f["normal"]

In [739]:
fm_df['Club'] = fm_df["Club"].apply(lambda x: Rename_Club(x))

In [740]:
fm_df.query("Name == 'Joshua Kimmich'")

,UID,Inf,Name,DoB,Nat,Division,Club,Based,Preferred Foot,Right Foot,...,Teamwork,Technique,Throwing,Vision,Work_Rate,Club_id,League_id,Min_Value,Max_Value,Market_Value
42332,92039023,,Joshua Kimmich,1995-02-08,GER,Bundesliga,FC Bayern,Germany (Bundesliga),Right,Very Strong,...,84,79,4,89,94,3704,185,96000000.0,119000000.0,107500000.0

<br><br><br><br>
# Position Styling

In [741]:
position_mapping = {
    'M (C)': 'MC',
    'D (C)': 'DC',
    'GK': 'GK',
    'ST (C)': 'ST',
    'AM (L)': 'AML',
    'AM (R)': 'AMR',
    'D (R)': 'DR',
    'D (L)': 'DL',
    'DM': 'DM',
    'AM (C)': 'AMC',
    'M (L)': 'ML',
    'M (R)': 'MR',
    'WB (L)': 'WBL',
    'WB (R)': 'WBR'
}

In [742]:
def remove_parentheses(text):
    return text.replace("(", "").replace(")", "")

In [743]:
def pos_map(position):
    return position_mapping[position]

In [744]:
fm_df['Best_Pos'].value_counts()

Best_Pos
M (C)     977
D (C)     938
AM (L)    738
GK        704
ST (C)    648
AM (R)    555
D (R)     521
D (L)     475
DM        388
AM (C)    180
M (L)     130
M (R)     116
WB (R)     29
WB (L)     23
Name: count, dtype: int64

In [745]:
fm_df['Position'].value_counts()

Position
D (C)                    749
GK                       704
DM, M (C)                600
ST (C)                   519
M/AM (C)                 279
                        ...
D (R), WB/M (RL)           1
D (R), WB (RL), M (R)      1
D (RLC), WB/M (R)          1
WB/M (RL)                  1
D/AM (R)                   1
Name: count, Length: 224, dtype: int64

In [746]:
def Multiple_Position_Beautifier(position_value):
    x = ""
    positions = position_value.split(",")
    for p in positions:
        p = p.strip()
        if p in position_mapping.keys():
            x += f"{position_mapping[p]},"
        elif "/" in p:
            slashed = p.split(" ")
            locations = slashed[0].split("/")
            sides = list(remove_parentheses(slashed[1]))
            for loc in locations:
                for side in sides:
                    splitted_pos = loc+side
                    x += f"{splitted_pos},"
        else:
            slashed = p.split(" ")
            loc = slashed[0]
            sides = list(remove_parentheses(slashed[1]))
            for side in sides:
                splitted_pos = loc+side
                x += f"{splitted_pos},"
    return x[:-1]

In [747]:
fm_df['Position'] = fm_df['Position'].apply(lambda row: Multiple_Position_Beautifier(row))
fm_df['Best_Pos'] = fm_df['Best_Pos'].apply(lambda row: Multiple_Position_Beautifier(row))

# Player Role
fm_df["Player_Role"] = fm_df["Best_Pos"] + "_" + fm_df["Best_Role"]

In [748]:
position_order = ['GK', 'WBR', 'DR', 'DC', 'DL', 'WBL', 'DM',  
                  'MC', 'MR', 'AMC', 'ML', 'AMR', 'ST', 'AML']
def get_position_rank(position):
    return position_order.index(position) if position in position_order else len(position_order)
fm_df['Pos_Rank'] = fm_df['Best_Pos'].apply(get_position_rank)

In [749]:
fm_df.query("Club == 'Chaves'")[["Best_Pos"]]

       Best_Pos
168395       DC
168409       DC
168573      AML
168584       ST
168616      AML
168825      AML
169038      AMR
169074       GK
169161       MC
169202       ML
169207      AMC
169215       DR
169352       ST
169530      AML
169540      AML
169732       MC
169971       DM
170215       DL
170250      AMR
170287      AMR
170296      WBR
170327       ST
171625       MC
173209       GK
173950      AMR
177476      AMR
178013       DC
183728       DC

In [750]:
fm_df['Position'].value_counts()

Position
DC                  749
GK                  704
DM,MC               600
ST                  519
MC,AMC              279
                   ...
DR,WBR,WBL,MR,ML      1
DR,WBR,WBL,MR         1
DR,DL,DC,WBR,MR       1
WBR,WBL,MR,ML         1
DR,AMR                1
Name: count, Length: 224, dtype: int64

In [751]:
fm_df['Best_Pos'].value_counts()

Best_Pos
MC     977
DC     938
AML    738
GK     704
ST     648
AMR    555
DR     521
DL     475
DM     388
AMC    180
ML     130
MR     116
WBR     29
WBL     23
Name: count, dtype: int64

<br><br><br><br>
# Players' Overall (GK Only)

In [752]:
def Dict_Generator(attrs):
    weights = (len(attrs)*"0.1,").split(",")[:-1]
    return {key: float(weights[i]) for i, key in enumerate(attrs)}

<h3 style="color:orange;">  Keeper</h3>

In [753]:
current_ability = "gk"
fm_df[current_ability] = fm_df[gk_attributes].mean(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                         Name  gk
42335            Manuel Neuer  75
167966  Marc-Andr√© ter Stegen  74
151645                Ederson  72
151647                Alisson  72
167963              Jan Oblak  69

<br><br><br><br>
<h1 style="color:red;">  ü•ΩTPR</h1>

<h3 style="color:aqua;">  Reputation</h3>

In [754]:
fm_df.shape

(6422, 82)

In [755]:
platinum_df = pd.read_csv('players_db/fm23/platinum22_fm23data.csv')[["Name","UID","Current reputation","Salary","Values"]]
inside_df = pd.read_csv('players_db/fm23/fm22_players_fminside.csv')[["Name","Unique_ID","Ability"]]

rep_df = pd.merge(fm_df, platinum_df, how='left', left_on='UID', right_on='UID', suffixes=('', '_PLAT'))
rep_df["Current reputation"].fillna(0, inplace=True)

In [756]:
rep_df.shape

(6422, 86)

In [757]:
rep_df = pd.merge(inside_df, platinum_df, how='left', left_on='Unique_ID', right_on='UID', suffixes=('', '_PLAT'))

In [758]:
filtered_df = rep_df[(rep_df['Current reputation'] == 6000) | (rep_df['Current reputation'] == 7000)]
filtered_df['Ability'].mean()

62.37965260545906

In [759]:
rep_df.query("Name == 'Mason Holgate'")

,Name,Unique_ID,Ability,Name_PLAT,UID,Current reputation,Salary,Values
1334,Mason Holgate,29128167.0,67.0,Mason Holgate,29128167.0,6497.0,84094.0,13261934.0

<br><br>
<h3 style="color:orange;">  Positional Ratings</h3>

In [760]:
positions = fm_df['Best_Pos'].unique().tolist()

In [761]:
Attribute_Position_Weights = pd.read_csv('players_db/fm23/Attribute_Position_Weights.csv',index_col=0)
Position_Position_Weights = pd.read_csv("players_db/fm23/Position_Position_Weights.csv", index_col=0)

In [762]:
def TPR_by_Position(row, position_weights_df=None, is_tpr_general=False, general_position=None):
    if is_tpr_general:
        position = general_position
    else:
        position = row["Best_Pos"] 
    rating_weights = position_weights_df[position].to_dict()
    rating_attrs = list(rating_weights.keys())
    tpr = (row[rating_attrs] * pd.Series(rating_weights)).sum()
    return int(tpr)

fm_df["tpr_general"] = fm_df.apply(lambda row: TPR_by_Position(row, Attribute_Position_Weights, \
                                                               is_tpr_general=True, general_position="MC"), axis=1)

In [763]:
fm_df["tpr"] = fm_df.apply(lambda row: TPR_by_Position(row, Attribute_Position_Weights), axis=1)

In [765]:
for pos in positions:
    fm_df[f"tpr_{pos}"] = fm_df.apply(
        lambda row: Position_Regression(row, pos), axis=1
    )

tpr_cols = []
for col in positions:
    tpr_cols.append("tpr_" + col)

In [766]:
def Position_Regression(player_row, target_position):
    best_position = player_row.Best_Pos
    player_positions = player_row.Position
    tpr_value = player_row['tpr']
    
    coefficient = Position_Position_Weights.loc[best_position, target_position]
    base_value = int(coefficient / 20 * tpr_value)

    if target_position in player_positions.split(","):
        posdf_value = tpr_value - int((tpr_value - base_value) * 0.05)
        tpr_by_position_value = tpr_value - int((tpr_value - base_value) *  0.05)
        regression_value = max(posdf_value, tpr_by_position_value)
    else:
        regression_value = base_value

    return int(regression_value)

fm_df['tpr_Best'] = fm_df[tpr_cols].max(axis=1)
# fm_df['tpr_Star'] = "‚≠ê‚≠ê‚≠ê‚≠ê‚≠ê"

In [783]:
# Normalize tprs
def Normalize(X, min_val, max_val):
    min_col = X.min()
    max_col = X.max()
    standardized_value = (X - min_col) / (max_col - min_col) * (max_val - min_val) + min_val
    return standardized_value.astype(int)

for tpr_column in tpr_cols:
    fm_df[tpr_column] = Normalize(fm_df[tpr_column], 40, 99)
    
fm_df["tpr"] = Normalize(fm_df['tpr_Best'] , 40, 92)

# for pos in fm_df['Best_Pos'].unique():
#     group = fm_df#[fm_df['Best_Pos'] == pos]
#     min_tpr = group['tpr'].min()
#     max_tpr = group['tpr'].max()
#     fm_df.loc[fm_df['Best_Pos'] == pos, 'tpr_normalized'] = Normalize(group['tpr'], 40, 95)

fm_df["tpr_GK"] = fm_df.apply(lambda row: int(row["tpr_GK"]/2) if row.Best_Pos != "GK" else row["tpr_GK"], axis=1)

In [784]:
fm_df.sort_values("tpr_Best", ascending=False)[["Club","Name","Best_Pos","tpr_Best", \
                                                   "tpr","Market_Value","Age"]].head(n=20)

,Club,Name,Best_Pos,tpr_Best,tpr,Market_Value,Age
42335,FC Bayern,Manuel Neuer,GK,75,92,NaN,36
167958,FC Barcelona,Robert Lewandowski,ST,75,92,NaN,33
151639,Manchester City,Erling Haaland,ST,74,90,2.680000e+08,21
151641,Tottenham Hotspur,Harry Kane,ST,74,90,NaN,28
167966,FC Barcelona,Marc-Andr√© ter Stegen,GK,73,89,1.635000e+08,30
151643,Manchester City,Bernardo Silva,AMR,73,89,1.580000e+08,27
151638,Manchester City,Kevin De Bruyne,MC,73,89,2.150000e+08,30
151640,Liverpool,Mohamed Salah,AMR,73,89,NaN,30
167959,Real Madrid,Luka Modriƒá,MC,72,88,3.400000e+07,36
151659,Manchester United,Bruno Fernandes,AMC,72,88,2.530000e+08,27
151647,Liverpool,Alisson,GK,72,88,3.180000e+08,29
151645,Manchester City,Ederson,GK,72,88,1.130000e+08,28
42332,FC Bayern,Joshua Kimmich,DM,72,88,1.075000e+08,27
73550,AC Milan,Zlatan Ibrahimoviƒá,ST,72,88,4.350000e+00,40
42334,FC Bayern,Thomas M√ºller,AMC,72,88,NaN,32
73561,AC Milan,Olivier Giroud,ST,71,87,3.000002e+06,35
42333,FC Bayern,Sadio Man√©,AML,71,87,1.120000e+08,30
73544,Internazionale,Nicol√≤ Barella,MC,71,87,4.700000e+07,25
167956,Paris Saint-Germain,Lionel Messi,AMC,71,87,6.300000e+07,35
73542,Internazionale,Romelu Lukaku,ST,71,87,1.320000e+08,29

In [785]:
fm_df.sort_values(by="tpr_Best",ascending=False).head(500).Best_Pos.value_counts()

Best_Pos
MC     107
ST      67
AML     54
GK      53
DC      50
DM      41
DL      36
AMR     30
AMC     23
DR      19
ML       8
MR       7
WBL      3
WBR      2
Name: count, dtype: int64

In [786]:
fm_df.query("Club == 'Lazio'")[["Name","tpr","tpr_Best"]].head(n=5)

                          Name  tpr  tpr_Best
73540  Sergej Milinkoviƒá-Saviƒá   86        70
73547            Ciro Immobile   84        68
73558             Luis Alberto   84        68
73562                    Pedro   83        67
73571        Alessio Romagnoli   78        62

In [787]:
ex_row = fm_df.query("Name == 'Kylian Mbapp√©'")
ex_row.iloc[0][["tpr"] + tpr_cols].sort_values()

tpr_GK     21
tpr_DC     41
tpr_DM     44
tpr_DR     45
tpr_MC     52
tpr_WBR    55
tpr_DL     58
tpr_MR     59
tpr_AMC    67
tpr_WBL    70
tpr_ML     82
tpr        86
tpr_ST     93
tpr_AMR    95
tpr_AML    96
Name: 167957, dtype: object

In [788]:
ex_row = fm_df.query("Name == 'Lionel Messi'").iloc[0][["tpr"] + tpr_cols].sort_values()
ex_row

tpr_GK     21
tpr_DC     42
tpr_DL     43
tpr_DR     43
tpr_WBL    47
tpr_WBR    48
tpr_DM     53
tpr_MR     56
tpr_ML     69
tpr_MC     72
tpr_AML    77
tpr        87
tpr_ST     94
tpr_AMR    96
tpr_AMC    97
Name: 167956, dtype: object

# Matching fbref Player Names with FM Player Names

In [789]:
from rapidfuzz import process
def find_best_match(name, choices):
    return process.extractOne(name, choices)

In [790]:
top5_leagues = ['Ligue 1 Uber Eats', 'English Premier Division', 'Italian Serie A',
       'Spanish First Division', 'Bundesliga']

In [791]:
url = "https://fbref.com/en/comps/Big5/2022-2023/passing/players/2022-2023-Big-5-European-Leagues-Stats"

In [793]:
data = pd.read_html(url)

In [794]:
data[0].columns = data[0].columns.get_level_values(1)

In [795]:
data[0].head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,90s,Cmp,...,Ast,xAG,xA,A-xAG,KP,1/3,PPA,CrsPA,PrgP,Matches
0,1,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,26.4,592,...,3,4.2,2.6,-1.2,46,47,16,4,86,Matches
1,2,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,1.9,51,...,0,0.0,0.1,0.0,1,3,0,0,6,Matches
2,3,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,0.7,23,...,0,0.0,0.0,0.0,0,0,0,0,0,Matches
3,4,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,0.0,1,...,0,0.0,0.0,0.0,0,0,0,0,0,Matches
4,5,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37.0,1679,...,2,1.0,0.9,+1.0,13,155,5,0,215,Matches

In [796]:
fbref_players = data[0]["Player"].tolist()
fm_players = fm_df[fm_df.Division.isin(top5_leagues)]["Name"].tolist()

In [797]:
for player_name in fm_players:
    answer, score, other = find_best_match(player_name, fbref_players)
    where_id = fm_df[fm_df.Name==player_name].iloc[0].name
    fm_df.at[where_id, 'fbref_player_name'] = answer

# CSV EXPORT

In [798]:
fm_df.to_csv("players_db/fm23/fm23db_processed.csv", index=False)

In [799]:
fm_df.query("Name in 'Thiago Silva'").iloc[0].to_dict()

{'UID': 8833628,
 'Inf': '',
 'Name': 'Thiago Silva',
 'DoB': '1984-09-22',
 'Nat': 'BRA',
 'Division': 'English Premier Division',
 'Club': 'Chelsea',
 'Based': 'England (Premier Division)',
 'Preferred Foot': 'Right',
 'Right Foot': 'Very Strong',
 'Left Foot': 'Weak',
 'Position': 'DC',
 'Height': '183',
 'Weight': '79 kg',
 'Age': 37,
 'Transfer Value': '21000000 - 32000000',
 'Wage': 498000,
 'AT Apps': '475',
 'AT Gls': '28',
 'Team': 'Main',
 'Caps': 107,
 'Yth Apps': '4',
 'Style': 'Intelligent',
 'Rc Injury': '-',
 'Best_Role': 'Ball Playing Defender',
 'Best Duty': 'Defend',
 'Best_Pos': 'DC',
 'Acceleration': 49,
 'Aerial_Reach': 14,
 'Aggression': 84,
 'Agility': 59,
 'Anticipation': 84,
 'Balance': 79,
 'Bravery': 74,
 'Command_of_Area': 14,
 'Communication': 4,
 'Composure': 99,
 'Concentration': 84,
 'Corners': 19,
 'Crossing': 24,
 'Decisions': 84,
 'Determination': 74,
 'Dribbling': 44,
 'Eccentricity': 19,
 'Finishing': 34,
 'First_Touch': 69,
 'Flair': 39,
 'Free_Kick_Taking': 39,
 'Handling': 4,
 'Heading': 84,
 'Jumping_Reach': 64,
 'Kicking': 14,
 'Leadership': 94,
 'Long_Shots': 34,
 'Long_Throws': 34,
 'Marking': 84,
 'Natural_Fitness': 69,
 'Off_the_Ball': 39,
 'One_on_Ones': 4,
 'Pace': 49,
 'Passing': 64,
 'Penalty_Taking': 69,
 'Positioning': 94,
 'Punching': 14,
 'Reflexes': 14,
 'Rushing_Out': 9,
 'Stamina': 69,
 'Strength': 69,
 'Tackling': 79,
 'Teamwork': 74,
 'Technique': 64,
 'Throwing': 9,
 'Vision': 64,
 'Work_Rate': 69,
 'Club_id': 2432,
 'League_id': 354,
 'Min_Value': 21000000.0,
 'Max_Value': 32000000.0,
 'Market_Value': 26500000.0,
 'Player_Role': 'DC_Ball Playing Defender',
 'Pos_Rank': 3,
 'gk': 19,
 'tpr_general': 63,
 'tpr': 84,
 'tpr_DM': 63,
 'tpr_AML': 41,
 'tpr_AMC': 41,
 'tpr_GK': 21,
 'tpr_MC': 46,
 'tpr_DC': 96,
 'tpr_AMR': 42,
 'tpr_DL': 64,
 'tpr_DR': 65,
 'tpr_ST': 42,
 'tpr_ML': 44,
 'tpr_MR': 45,
 'tpr_WBR': 47,
 'tpr_WBL': 48,
 'tpr_Best': 68,
 'fbref_player_name': 'Thiago Silva'}