In [4]:
import pandas as pd

In [5]:
players_df = pd.read_csv("players_db/fm23/fm23db_processed.csv").sort_values("tpr", ascending=False)
team_df = pd.read_csv("players_db/fm23/team_ratings.csv").sort_values("tpr", ascending=False)

In [6]:
team_df[["Club","tpr"]].head(n=10)

                   Club  tpr
0             FC Bayern   92
2             Liverpool   92
3       Manchester City   89
51  Paris Saint-Germain   89
6           Real Madrid   87
1          FC Barcelona   87
13              Chelsea   84
26             AC Milan   82
20       Internazionale   82
9              Juventus   79

In [7]:
players_df[["Name","tpr"]].head(n=1)

           Name  tpr
3  Manuel Neuer   92

In [8]:
players_df.query("Club == 'Manchester City'").sort_values(by="tpr",ascending=False)[["Name","tpr","tpr_Best"]]

                     Name  tpr  tpr_Best
3193       Erling Haaland   90        74
3197       Bernardo Silva   89        73
3192      Kevin De Bruyne   89        73
3199              Ederson   88        72
3202      Aymeric Laporte   85        69
3196           Rúben Dias   85        69
3222          John Stones   83        67
3221        Jack Grealish   83        67
3205       İlkay Gündogan   83        67
3204                Rodri   83        67
3211           Phil Foden   83        67
3206         João Cancelo   82        66
3257      Kalvin Phillips   82        66
3218         Riyad Mahrez   81        65
3224          Kyle Walker   81        65
3293        Manuel Akanji   80        64
3631        Stefan Ortega   78        62
3619       Julián Álvarez   78        62
3260           Nathan Aké   78        62
3605         Sergio Gómez   77        61
3414          Cole Palmer   75        59
3609         Scott Carson   72        57
3677        Morgan Rogers   68        53
3754           Ben Knight   68        53
3656           Rico Lewis   67        52
3719           Oscar Bobb   66        51
3846        Mikki van Sas   65        50
3652  Josh Wilson-Esbrand   65        50
3688         Finley Burns   65        50
3718            Iker Pozo   65        50
3883            Josh Adam   64        49
3649         Shea Charles   64        49
3870         Kian Breckin   64        49
3928        Daniel Ogwuru   63        48
3932       Rowan McDonald   63        48
3927            Tai Sodje   62        47
4027        Josh McNamara   62        47
3865        Nico O'Reilly   62        47
3749       Micah Hamilton   61        46
3842        Jadel Katongo   61        46
3777        Carlos Borges   60        45
3778          Dire Mebude   59        44
3866         Tomas Galvez   59        44
3821       Alex Robertson   56        42
3879     Mahamadou Susoho   56        42
4052  Matthew Whittingham   56        42
4053  George Murray-Jones   55        41
3891          Kane Taylor   54        40
4039           Liam Smith   54        40
4153     Terrell Agyemang   54        40
4051         Will Dickson   50        36