In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import warnings

In [2]:
import warnings
from pandas.errors import SettingWithCopyWarning
warnings.simplefilter(action='ignore', category=(SettingWithCopyWarning))
warnings.simplefilter(action='ignore', category=(FutureWarning))

In [3]:
df = pd.read_csv("players_db/fm23/fm23db_processed.csv")

In [4]:
df.Club.value_counts(sort=True)

Club
Hellas Verona          74
Sassuolo               73
Internazionale         71
Benfica                71
Vizela                 68
                       ..
Sparta                 24
FC Volendam            23
Paris Saint-Germain    23
Ajax                   22
Clermont               22
Name: count, Length: 153, dtype: int64

In [5]:
# df.iloc[0].to_dict()

In [6]:
rating_attrs = ["Club","gk","def","pas","dri","fin","sta","str","hed","men","iq"]

# Formations

In [7]:
def Formation_Dict(formation="4-3-3"):
    test_formation = { 'GK': 1, 'DC': 2, 'DL': 1, 'DR': 1, 'DM': 0, 'MC': 3, 'AML': 1, 'AMR': 1, 'ST': 1 }
    return test_formation

<br><br><br><br>
# Rating Functions

In [8]:
def Quantile(n=16, index=0):
    data_numeric = pd.DataFrame(list(range(n)))
    quantile_intervals = [0, 0.25, 0.40, 0.65, 0.75, 1.0]
    qval = data_numeric.quantile(quantile_intervals)
    return int(qval.iloc[index])

In [9]:
def Quarter_Rating(df, n, index, current_attribute):
    quantile = Quantile(n=n, index=index)
    output = df.nlargest(quantile, current_attribute)[current_attribute].mean()
    return output

<br><br><br><br>
# Club Powers

In [10]:
def TPR(df, n, lineup=False, print_club=False, p_dict={}):
    '''
    Team Power Rating
    '''
    # Choose Attribute
    current_attribute = "tpr"
    zoom_df = df
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    if not lineup:
        for club, group in club_groups:
            top_players = group.nlargest(n, 'tpr')
            p1 = Quarter_Rating(top_players, n, 1, current_attribute)
            p2 = Quarter_Rating(top_players, n, 2, current_attribute)
            p3 = Quarter_Rating(top_players, n, 3, current_attribute)
            p4 = Quarter_Rating(top_players, n, 4, current_attribute)
            p5 = Quarter_Rating(top_players, n, 5, current_attribute)
            club_rating_dict[club] = int(p1*p_dict["p1"] + p2*p_dict["p2"] + p3*p_dict["p3"] + p4*p_dict["p4"] + p5*p_dict["p5"])
            
    else: # Lineup_df is active
        for club, group in club_groups:
            positions = Formation_Dict(formation="4-3-3")
            
            selected_players = []
            used_players = set()

            for position, count in positions.items():
                position_group = group[group['Best_Pos'] == position]
                # position_group = group[group['Position'].apply(lambda x: any(position in x.split(",") for i in x.split(",") if i == position))]
                
                if position_group.empty:
                    # position_group = group[group['Position'].apply(lambda x: position in x)]
                    position_group = group[group['Position'].apply(lambda x: any(position in x.split(",") for i in x.split(",") if i == position))]
                
                position_group = position_group[~position_group.index.isin(used_players)]
                top_position_players = position_group.nlargest(count, f'tpr_{position}')
                
                selected_players.extend(top_position_players.index.tolist())
                used_players.update(top_position_players.index.tolist())

            # Ensure we have exactly 11 players 
            while len(selected_players) < 11:
                remaining_players = group[~group.index.isin(used_players)]
                if remaining_players.empty:
                    break
                next_best_player = remaining_players.nlargest(1, f'tpr_{position}')
                selected_players.extend(next_best_player.index.tolist())
                used_players.update(next_best_player.index.tolist())

            lineup_players = group.loc[selected_players].sort_values(by="Pos_Rank")
            p1 = Quarter_Rating(lineup_players, n, 1, current_attribute)
            p2 = Quarter_Rating(lineup_players, n, 2, current_attribute)
            p3 = Quarter_Rating(lineup_players, n, 3, current_attribute)
            p4 = Quarter_Rating(lineup_players, n, 4, current_attribute)
            p5 = Quarter_Rating(lineup_players, n, 5, current_attribute)
            club_rating_dict[club] = int(p1*p_dict["p1"] + p2*p_dict["p2"] + p3*p_dict["p3"] + p4*p_dict["p4"] + p5*p_dict["p5"])
            
            # if club == 'AJ Auxerre':
            #     print(lineup_players[["Name","Best_Pos","tpr"]])
            
            # if len(lineup_players) != 11:
            #     print(club, len(lineup_players), "Players")
            #     print(lineup_players[["Name","Best_Pos","tpr"]])
            #     print("\n")
            #     print("\n")
            #     print("\n")

            if club == print_club:
                print(club, "XI =", len(lineup_players))
                print(lineup_players[["Name","Best_Pos","tpr"]])
    
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

In [11]:
output = TPR(df, n=16, lineup=True, print_club="Manchester United", p_dict={ 'p1': 0.30, 'p2': 0.35, 'p3': 0.15, 'p4': 0.15, 'p5': 0.05 })
output

Manchester United XI = 11
                   Name Best_Pos  tpr
3406    Martin Dúbravka       GK   79
3279  Aaron Wan-Bissaka       DR   76
3240      Harry Maguire       DC   93
3208     Raphaël Varane       DC   89
3262          Luke Shaw       DL   82
3227  Christian Eriksen       MC   84
3323    Scott McTominay       MC   80
3360               Fred       MC   79
3507             Antony      AMR   80
3200  Cristiano Ronaldo       ST   93
3248    Anthony Martial      AML   86

                    Club  tpr
92       Manchester City   92
88             Liverpool   91
105  Paris Saint-Germain   91
47          FC Barcelona   90
113          Real Madrid   90
..                   ...  ...
110                  RKC   69
30               Cambuur   69
152         İstanbulspor   69
55           FC Volendam   68
45             Excelsior   68

[153 rows x 2 columns]

In [12]:
df.query("Club == 'Manchester United'").sort_values(by="tpr",ascending=False)[["Name","Best_Pos","Position","tpr"]].head(n=10)

                   Name Best_Pos   Position  tpr
3200  Cristiano Ronaldo       ST         ST   93
3240      Harry Maguire       DC         DC   93
3213    Bruno Fernandes      AMC     MC,AMC   89
3208     Raphaël Varane       DC         DC   89
3219           Casemiro       DM      DM,MC   87
3248    Anthony Martial      AML     AML,ST   86
3235    Marcus Rashford      AML     AML,ST   85
3227  Christian Eriksen       MC  DM,MC,AMC   84
3420  Lisandro Martínez       DC   DL,DC,DM   84
3268    Victor Lindelöf       DC         DC   83

<h3 style="color:orange;">  Keeper</h3>

In [13]:
def TGK(df, n=1):
    '''
    Team Goalkeeping Rating
    '''
    # Choose Attribute
    current_attribute = "gk"
    zoom_df = df[df['Best_Pos'] == 'GK'].copy()
    
    # Group by club
    club_groups = zoom_df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        average_rating = top_players[current_attribute].mean()
        club_rating_dict[club] = int(average_rating)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:orange;">  Defending</h3>

In [14]:
def TDEF(df, n=16, p_dict={}):
    '''
    Team Defending Rating
    '''
    # Choose Attribute
    current_attribute = "def"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:red;">  Passing</h3>

In [15]:
def TPAS(df, n=16, p_dict={}):
    '''
    Team Passing Rating
    '''
    # Choose Attribute
    current_attribute = "pas"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:red;">  Dribbling</h3>

In [16]:
def TDRI(df, n=16, p_dict={}):
    '''
    Team Dribbling Rating
    '''
    # Choose Attribute
    current_attribute = "dri"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:red;">  Finishing</h3>

In [17]:
def TFIN(df, n=16, p_dict={}):
    '''
    Team Finishing Rating
    '''
    # Choose Attribute
    current_attribute = "fin"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:green;">  Stamina</h3>

In [18]:
def TSTA(df, n=16, p_dict={}):
    '''
    Team Stamina Rating
    '''
    # Choose Attribute
    current_attribute = "sta"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:green;">  Strength</h3>

In [19]:
def TSTR(df, n=16, p_dict={}):
    '''
    Team Strength Rating
    '''
    # Choose Attribute
    current_attribute = "str"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

In [20]:
def THED(df, n=16, p_dict={}):
    '''
    Team Heading Rating
    '''
    # Choose Attribute
    current_attribute = "hed"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<h3 style="color:purple;">  Mental</h3>

In [21]:
def TMEN(df, n=16, p_dict={}):
    '''
    Team Mental Rating
    '''
    # Choose Attribute
    current_attribute = "men"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

In [22]:
def TIQ(df, n=16, p_dict={}):
    '''
    Team Intelligence Rating
    '''
    # Choose Attribute
    current_attribute = "iq"
    
    # Group by club
    club_groups = df.groupby('Club')
    club_rating_dict = {}

    for club, group in club_groups:
        top_players = group.nlargest(n, current_attribute)
        p1 = Quarter_Rating(top_players, n, 1, current_attribute)
        p2 = Quarter_Rating(top_players, n, 2, current_attribute)
        p3 = Quarter_Rating(top_players, n, 3, current_attribute)
        p4 = Quarter_Rating(top_players, n, 4, current_attribute)
        p5 = Quarter_Rating(top_players, n, 5, current_attribute)
        club_rating_dict[club] = int(p1*0.35 + p2*0.25 + p3*0.20 + p4*0.15 + p5*0.05)
        
    club_df = pd.DataFrame(list(club_rating_dict.items()), columns=['Club', current_attribute])
    return club_df.sort_values(current_attribute, ascending=False)

<br><br><br><br>
# TPR ALL

In [23]:
def TPRALL(df, n, coefficients):
    '''
    Team Power Rating All Attributes
    '''
    tpr = TPR(df, n, p_dict=coefficients)
    tgk = TGK(df, 1)
    tdef = TDEF(df, n, p_dict=coefficients)
    tpas = TPAS(df, n, p_dict=coefficients)
    tdri = TDRI(df, n, p_dict=coefficients)
    tfin = TFIN(df, n, p_dict=coefficients)
    tsta = TSTA(df, n, p_dict=coefficients)
    tstr = TSTR(df, n, p_dict=coefficients)
    thed = THED(df, n, p_dict=coefficients)
    tmen = TMEN(df, n, p_dict=coefficients)
    tiq = TIQ(df, n, p_dict=coefficients)
    
    top_players = df.groupby('Club').apply(lambda x: x.nlargest(n, "tpr")).reset_index(drop=True)
    club_rating_dict = {}
    
    for club, group in top_players.groupby('Club'):
        club_rating_dict[club] = {
            "Club": club,
            "Club_id": group.iloc[0]["Club_id"],
            "League_id": group.iloc[0]["League_id"],
            "Division": group.iloc[0]["Division"],
            "Based": group.iloc[0]["Based"],
            "tpr": tpr.query(f"Club == '{club}'").iloc[0, 1],    
            "gk": tgk.query(f"Club == '{club}'").iloc[0, 1],    
            "def": tdef.query(f"Club == '{club}'").iloc[0, 1],    
            "pas": tpas.query(f"Club == '{club}'").iloc[0, 1],    
            "dri": tdri.query(f"Club == '{club}'").iloc[0, 1],    
            "fin": tfin.query(f"Club == '{club}'").iloc[0, 1],    
            "sta": tsta.query(f"Club == '{club}'").iloc[0, 1],    
            "str": tstr.query(f"Club == '{club}'").iloc[0, 1],    
            "hed": thed.query(f"Club == '{club}'").iloc[0, 1],    
            "men": tmen.query(f"Club == '{club}'").iloc[0, 1],    
            "iq": tiq.query(f"Club == '{club}'").iloc[0, 1],    
        }
        
    club_df = pd.DataFrame.from_dict(club_rating_dict, orient='index').reset_index(drop=True)
    return club_df.sort_values("tpr", ascending=False)

In [24]:
squad_coef = { 'p1': 0.40, 'p2': 0.35, 'p3': 0.15, 'p4': 0.05, 'p5': 0.05 }
all_df = TPRALL(df, 16, squad_coef)

In [25]:
# all_df.query(f"League_id == {354}").head(n=10)
all_df.head(n=10)

,Club,Club_id,League_id,Division,Based,tpr,gk,def,pas,dri,fin,sta,str,hed,men,iq
92,Manchester City,6827,354,English Premier Division,England (Premier Division),93,88,89,98,94,92,101,95,86,94,92
105,Paris Saint-Germain,7994,773,Ligue 1 Uber Eats,France (Ligue 1 Uber Eats),93,81,86,100,97,90,93,91,88,90,91
88,Liverpool,6518,354,English Premier Division,England (Premier Division),92,90,89,95,94,87,101,94,94,92,90
47,FC Barcelona,1435,1215,Spanish First Division,Spain (First Division),91,91,87,92,93,91,98,94,93,94,92
77,Internazionale,5215,710,Italian Serie A,Italy (Serie A),91,82,90,91,87,91,98,102,100,86,85
48,FC Bayern,3704,185,Bundesliga,Germany (Bundesliga),90,89,86,91,95,83,103,96,86,91,89
113,Real Madrid,8716,1215,Spanish First Division,Spain (First Division),90,84,88,101,92,94,97,95,89,90,92
134,Tottenham Hotspur,11015,354,English Premier Division,England (Premier Division),89,75,86,89,87,93,101,96,92,86,82
93,Manchester United,6828,354,English Premier Division,England (Premier Division),89,80,87,94,92,92,105,94,95,86,84
79,Juventus,5523,710,Italian Serie A,Italy (Serie A),88,81,85,94,89,89,97,100,88,84,87

In [26]:
df.query("Club == 'Arsenal'").sort_values(by="tpr",ascending=False)[["Name","Best_Pos","Position","tpr"]].head(n=10)

                    Name Best_Pos    Position  tpr
3212       Gabriel Jesus       ST  AMR,AML,ST   88
3216     Martin Ødegaard      AMC      MC,AMC   88
3263             Gabriel       DC          DC   87
3335      William Saliba       DC          DC   86
3236         Bukayo Saka      AMR     AMR,AML   83
3284        Granit Xhaka       MC       DM,MC   83
3244       Thomas Partey       MC       DM,MC   82
3286      Aaron Ramsdale       GK          GK   82
3289      Benjamin White       DR       DR,DC   82
3351  Gabriel Martinelli      AML  AMR,AML,ST   81

In [27]:
# Export as CSV

all_df.to_csv("players_db/fm23/team_ratings.csv", index=False)

<br><br><br><br>
<h1 style="color:red;">  Matching FBREF Team Names</h1>

In [28]:
from rapidfuzz import process
def find_best_match(name, choices):
    return process.extractOne(name, choices)

In [29]:
top5_leagues = ['Ligue 1 Uber Eats', 'English Premier Division', 'Italian Serie A',
       'Spanish First Division', 'Bundesliga'] 
top5_url = "https://fbref.com/en/comps/Big5/2022-2023/shooting/squads/2022-2023-Big-5-European-Leagues-Stats"

In [30]:
data = pd.read_html(top5_url)
team_df = pd.read_csv("players_db/fm23/team_ratings.csv")

In [31]:
fbref_teams = data[0][('Unnamed: 1_level_0', 'Squad')].tolist()
fm_teams = team_df[team_df.Division.isin(top5_leagues)]["Club"].tolist()

In [32]:
for club_name in fm_teams:
    answer, score, other = find_best_match(club_name, fbref_teams)
    where_id = team_df[team_df.Club==club_name].iloc[0].name
    team_df.at[where_id, 'fbref_name'] = answer
team_df.to_csv("players_db/fm23/team_ratings.csv", index=False)