In [96]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
from bs4 import BeautifulSoup
import lxml
import requests
import unicodedata

In [97]:
fm_df = pd.read_csv("uluta_fm23data.csv")

In [98]:
fm_df.columns = [col.strip() for col in fm_df.columns]

for col in fm_df.select_dtypes("object").columns:
   fm_df[col] = fm_df[col].apply(lambda x: x.strip())

In [99]:
# Assume df is your DataFrame
new_column_names = {
    'Acc': 'Acceleration',
    'Aer': 'Aerial Reach',
    'Agg': 'Aggression',
    'Agi': 'Agility',
    'Ant': 'Anticipation',
    'Bal': 'Balance',
    'Bra': 'Bravery',
    'Cmd': 'Command of Area',
    'Com': 'Communication',
    'Cmp': 'Composure',
    'Cnt': 'Concentration',
    'Cor': 'Corners',
    'Cro': 'Crossing',
    'Dec': 'Decisions',
    'Det': 'Determination',
    'Dri': 'Dribbling',
    'Ecc': 'Eccentricity',
    'Fin': 'Finishing',
    'Fir': 'First Touch',
    'Fla': 'Flair',
    'Fre': 'Free Kick Taking',
    'Han': 'Handling',
    'Hea': 'Heading',
    'Jum': 'Jumping Reach',
    'Kic': 'Kicking',
    'Ldr': 'Leadership',
    'Lon': 'Long Shots',
    'L Th': 'Long Throws',
    'Mar': 'Marking',
    'Nat .1': 'Fitness',
    'OtB': 'Off the Ball',
    '1v1': 'One vs One',
    'Pac': 'Pace',
    'Pas': 'Passing',
    'Pen': 'Penalty Taking',
    'Pos': 'Positioning',
    'Pun': 'Punching',
    'Ref': 'Reflexes',
    'TRO': 'Rushing Out',
    'Sta': 'Stamina',
    'Str': 'Strength',
    'Tck': 'Tackling',
    'Tea': 'Teamwork',
    'Tec': 'Technique',
    'Thr': 'Throwing',
    'Vis': 'Vision',
    'Wor': 'Work Rate'
}

# new_column_names = {key: value.lower() for key, value in new_column_names.items()}
fm_df.rename(columns=new_column_names, inplace=True)

In [100]:
fm_attributes = list(new_column_names.values())
gk_attributes = [ "Command of Area", "Communication", "First Touch", "Handling", "Kicking", "One vs One", "Punching", "Reflexes", "Rushing Out", "Throwing" ]
gk_technical_attributes = [ "Technique" ] # "Free Kick Taking", "Penalty Taking", 
mental_attributes = [ "Aggression", "Anticipation", "Bravery", "Composure", "Concentration", "Decisions", "Determination", "Flair", "Leadership", "Off the Ball", "Positioning", "Teamwork", "Vision", "Work Rate" ]
physical_attributes = [ "Acceleration", "Agility", "Balance", "Jumping Reach", "Fitness", "Pace", "Stamina", "Strength" ]
technical_attributes = [ "Corners", "Crossing", "Dribbling", "Finishing", "First Touch", "Free Kick Taking", "Heading", "Long Shots", "Long Throws", "Marking", "Passing", "Penalty Taking", "Tackling", "Technique" ]

fm_df[fm_attributes] = fm_df[fm_attributes] * 5

In [101]:
fm_df['DoB'][0]

'14/8/1984 (37 years old)'

In [102]:
convert_date_format = lambda x: pd.to_datetime(x, format='%d/%m/%Y').strftime('%Y-%m-%d')
fm_df['DoB'] = fm_df['DoB'].apply(lambda x: x.split(" ")[0])
fm_df['DoB'] = fm_df['DoB'].apply(convert_date_format)

In [103]:
fm_df['DoB'][0]

'1984-08-14'

In [104]:
fm_df['Height'] = fm_df['Height'].apply(lambda x: x.split(" ")[0])

In [105]:
fm_df.columns

Index(['UID', 'Inf', 'Name', 'DoB', 'Nat', 'Division', 'Club', 'Based',
       'Preferred Foot', 'Right Foot', 'Left Foot', 'Position', 'Height',
       'Weight', 'Age', 'Transfer Value', 'Wage', 'AT Apps', 'AT Gls', 'Team',
       'Caps', 'Yth Apps', 'Style', 'Rc Injury', 'Best Role', 'Best Duty',
       'Best Pos', 'Acceleration', 'Aerial Reach', 'Aggression', 'Agility',
       'Anticipation', 'Balance', 'Bravery', 'Command of Area',
       'Communication', 'Composure', 'Concentration', 'Corners', 'Crossing',
       'Decisions', 'Determination', 'Dribbling', 'Eccentricity', 'Finishing',
       'First Touch', 'Flair', 'Free Kick Taking', 'Handling', 'Heading',
       'Jumping Reach', 'Kicking', 'Leadership', 'Long Shots', 'Long Throws',
       'Marking', 'Fitness', 'Off the Ball', 'One vs One', 'Pace', 'Passing',
       'Penalty Taking', 'Positioning', 'Punching', 'Reflexes', 'Rushing Out',
       'Stamina', 'Strength', 'Tackling', 'Teamwork', 'Technique', 'Throwing',
       'Vision', 'Work Rate'],
      dtype='object')

<br><br><br><br>
# Merged_DF

In [106]:
selected_leagues = ['English Premier Division',
 'Ligue 1 Uber Eats',
 'Spanish First Division',
 'Bundesliga',
 'Italian Serie A',
 'Eredivisie',
 'Portuguese Premier League',
 'Turkish Super League']

In [107]:
fm_df = fm_df[fm_df.Division.isin(selected_leagues)]

In [108]:
for leg in selected_leagues:
    q = fm_df.query(f"Division == '{leg}'")["Club"].value_counts()
    print(leg , "------", len(q.to_list()))

English Premier Division ------ 20
Ligue 1 Uber Eats ------ 20
Spanish First Division ------ 20
Bundesliga ------ 18
Italian Serie A ------ 20
Eredivisie ------ 18
Portuguese Premier League ------ 18
Turkish Super League ------ 19

In [109]:
fm_df.query(f"Division == 'Turkish Super League'")["Club"].value_counts()

Club
Beşiktaş            41
Kayserispor         41
Trabzonspor         40
Adana D.S.          39
Fenerbahçe          37
Ankaragücü          37
Galatasaray         36
Hatayspor           36
İstanbulspor        36
Alanyaspor          35
Kasımpaşa           35
Antalyaspor         34
Başakşehir FK       34
Sivasspor           33
Giresunspor         33
Gaziantep FK        32
Fatih Karagümrük    32
Ümraniyespor        32
Konyaspor           31
Name: count, dtype: int64

In [110]:
fm_df.query(f"Club == 'Adana D.S.'").head()

,UID,Inf,Name,DoB,Nat,Division,Club,Based,Preferred Foot,Right Foot,...,Reflexes,Rushing Out,Stamina,Strength,Tackling,Teamwork,Technique,Throwing,Vision,Work Rate
105407,34008684,,Benjamin Stambouli,1990-08-13,FRA,Turkish Super League,Adana D.S.,Turkey (Super League),Right,Very Strong,...,5,5,65,70,75,80,65,10,65,75
105451,53075287,,Badou Ndiaye,1990-10-27,SEN,Turkish Super League,Adana D.S.,Turkey (Super League),Right,Very Strong,...,15,5,75,70,65,75,65,10,60,85
105487,18093594,,Henry Onyekuru,1997-06-05,NGA,Turkish Super League,Adana D.S.,Turkey (Super League),Right,Very Strong,...,15,15,70,45,35,60,65,15,60,70
105516,71002993,,Yaroslav Rakitskyi,1989-08-03,UKR,Turkish Super League,Adana D.S.,Turkey (Super League),Left,Reasonable,...,10,5,65,75,70,70,65,10,70,75
105521,70085757,,Emre Akbaba,1992-10-04,TUR,Turkish Super League,Adana D.S.,Turkey (Super League),Left,Weak,...,5,5,55,55,20,70,80,10,70,65

<br><br><br><br>
# Team Names Converter from fminside.com

In [111]:
url_df = fm_df.drop_duplicates(subset=["Club"], keep="first")
url_df.loc[:, 'UID'] = url_df['UID'].apply(lambda text: str(text))
url_df = url_df[["Club", "UID"]]

In [112]:
def Player_to_URL(player_id):
    slug = player_id + "-x-x"
    return f"https://fminside.net/players/3-fm-23/{slug}"

In [113]:
def Convert_Team_Name_From_URL(player_id, club):
    url = Player_to_URL(player_id)
    req = requests.get(url)
    html = req.content
    soup = BeautifulSoup(html, "lxml")
    club_name_element = soup.find('div', class_='meta').find('ul').find_all('li')[0].text
    club_name = club_name_element.strip()
    return {"fm":club,"normal":club_name}

In [114]:
team_mapping_array = []
raw_names = url_df.to_dict()
uids = url_df["UID"]
clubs = url_df["Club"]
clubs_array = clubs.to_list()

In [115]:
# for uid,club in zip(uids,clubs):
#     new_entry = Convert_Team_Name_From_URL(uid, club)
#     print(new_entry)
#     team_mapping_array.append(new_entry)

In [116]:
fminside_normal_names = pd.read_csv("fminside_team_names.csv")
merged_df = pd.merge(fm_df, fminside_normal_names, how='inner', left_on='Club', right_on='fm')
merged_df['Club'] = merged_df['normal'].where(merged_df['Club'] == merged_df['fm'], merged_df['Club'])
# merged_df.drop(['fm', 'normal'], axis=1, inplace=True)
merged_df = merged_df[merged_df.fm.isin(clubs_array)]

In [117]:
merged_df.query("Name in 'Gökhan Inler'").iloc[0].to_dict()

{'UID': 43012402,
 'Inf': '',
 'Name': 'Gökhan Inler',
 'DoB': '1984-06-27',
 'Nat': 'SUI',
 'Division': 'Turkish Super League',
 'Club': 'Adana D.S.',
 'Based': 'Turkey (Super League)',
 'Preferred Foot': 'Right',
 'Right Foot': 'Very Strong',
 'Left Foot': 'Fairly Strong',
 'Position': 'DM, M (C)',
 'Height': '183',
 'Weight': '80 kg',
 'Age': 38,
 'Transfer Value': '€110K - €1.1M',
 'Wage': '€36,000 p/m',
 'AT Apps': '458',
 'AT Gls': '24',
 'Team': '',
 'Caps': 89,
 'Yth Apps': '3',
 'Style': 'Leader',
 'Rc Injury': '-',
 'Best Role': 'Deep Lying Playmaker',
 'Best Duty': 'Defend',
 'Best Pos': 'M (C)',
 'Acceleration': 45,
 'Aerial Reach': 15,
 'Aggression': 70,
 'Agility': 45,
 'Anticipation': 70,
 'Balance': 70,
 'Bravery': 75,
 'Command of Area': 5,
 'Communication': 10,
 'Composure': 70,
 'Concentration': 60,
 'Corners': 35,
 'Crossing': 50,
 'Decisions': 75,
 'Determination': 90,
 'Dribbling': 35,
 'Eccentricity': 10,
 'Finishing': 45,
 'First Touch': 70,
 'Flair': 45,
 'Free Kick Taking': 40,
 'Handling': 10,
 'Heading': 60,
 'Jumping Reach': 55,
 'Kicking': 5,
 'Leadership': 90,
 'Long Shots': 70,
 'Long Throws': 25,
 'Marking': 40,
 'Fitness': 100,
 'Off the Ball': 40,
 'One vs One': 10,
 'Pace': 45,
 'Passing': 75,
 'Penalty Taking': 60,
 'Positioning': 65,
 'Punching': 15,
 'Reflexes': 5,
 'Rushing Out': 5,
 'Stamina': 55,
 'Strength': 65,
 'Tackling': 55,
 'Teamwork': 80,
 'Technique': 65,
 'Throwing': 5,
 'Vision': 70,
 'Work Rate': 80,
 'Unnamed: 0': 72,
 'fm': 'Adana D.S.',
 'normal': 'Adana D.S.'}

<br><br><br><br>
# Position Styling

In [118]:
position_mapping = {
    'M (C)': 'MC',
    'D (C)': 'DC',
    'GK': 'GK',
    'ST (C)': 'ST',
    'AM (L)': 'AML',
    'AM (R)': 'AMR',
    'D (R)': 'DR',
    'D (L)': 'DL',
    'DM': 'DM',
    'AM (C)': 'AMC',
    'M (L)': 'ML',
    'M (R)': 'MR',
    'WB (L)': 'WBL',
    'WB (R)': 'WBR'
}

merged_df['Best Pos'] = merged_df['Best Pos'].replace(position_mapping)

In [119]:
def remove_parentheses(text):
    return text.replace("(", "").replace(")", "")

In [120]:
def pos_map(position):
    return position_mapping[position]

In [121]:
merged_df['Best Pos'].value_counts()

Best Pos
MC     1421
DC     1282
GK      971
ST      915
AML     895
AMR     750
DR      700
DL      630
DM      460
AMC     254
ML      174
MR      161
WBL      37
WBR      30
Name: count, dtype: int64

In [122]:
merged_df['Position'].value_counts()

Position
D (C)                        1042
GK                            971
DM, M (C)                     777
ST (C)                        753
M/AM (C)                      398
                             ...
WB (L), M (LC), AM (L)          1
D/WB (R), M (RLC)               1
WB/M (R), AM (RC), ST (C)       1
D (R), WB/M (RL)                1
D (R), M/AM (RL)                1
Name: count, Length: 238, dtype: int64

In [123]:
def Multiple_Position_Beautifier(position_value):
    x = ""
    positions = position_value.split(",")
    for p in positions:
        p = p.strip()
        if p in position_mapping.keys():
            x += f"{position_mapping[p]},"
        elif "/" in p:
            slashed = p.split(" ")
            locations = slashed[0].split("/")
            sides = list(remove_parentheses(slashed[1]))
            for loc in locations:
                for side in sides:
                    splitted_pos = loc+side
                    x += f"{splitted_pos},"
        else:
            slashed = p.split(" ")
            loc = slashed[0]
            sides = list(remove_parentheses(slashed[1]))
            for side in sides:
                splitted_pos = loc+side
                x += f"{splitted_pos},"
    return x[:-1]

In [124]:
merged_df['Position'] = merged_df['Position'].apply(lambda row: Multiple_Position_Beautifier(row))

In [125]:
merged_df['Position'].value_counts()

Position
DC                   1042
GK                    971
DM,MC                 777
ST                    753
MC,AMC                398
                     ...
WBL,ML,MC,AML           1
DR,WBR,MR,ML,MC         1
WBR,MR,AMR,AMC,ST       1
DR,WBR,WBL,MR,ML        1
DR,MR,ML,AMR,AML        1
Name: count, Length: 238, dtype: int64

<br><br><br><br>
# Players' Overall

- Keeper -> gk
- Defending -> def 
- Passing -> pas
- Dribbling -> dri
- Finishing -> fin
- Stamina -> sta
- Strength -> str
- Heading -> hed
- Mental -> men

In [126]:
rating_attrs = ["gk","def","pas","dri","fin","sta","str","head"]

In [127]:
def Dict_Generator(attrs):
    weights = (len(attrs)*"0.1,").split(",")[:-1]
    print(weights)
    return {key: float(weights[i]) for i, key in enumerate(attrs)}

<h3 style="color:orange;">  Keeper</h3>

In [128]:
current_ability = "gk"
fm_df[current_ability] = fm_df[gk_attributes + gk_technical_attributes].mean(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                         Name  gk
151647                Alisson  75
167966  Marc-André ter Stegen  75
42335            Manuel Neuer  74
151645                Ederson  74
167963              Jan Oblak  72

<h3 style="color:orange;">  Defending</h3>

In [129]:
mental_attributes = [ "Aggression", "Anticipation", "Bravery", "Composure", "Concentration", "Decisions", "Determination", "Flair", "Leadership", "Off the Ball", "Positioning", "Teamwork", "Vision", "Work Rate" ]
physical_attributes = [ "Acceleration", "Agility", "Balance", "Jumping Reach", "Fitness", "Pace", "Stamina", "Strength" ]
technical_attributes = [ "Corners", "Crossing", "Dribbling", "Finishing", "First Touch", "Free Kick Taking", "Heading", "Long Shots", "Long Throws", "Marking", "Passing", "Penalty Taking", "Tackling", "Technique" ]

In [130]:
expert_attributes = ["Anticipation", "Bravery", "Acceleration", "Concentration", "Decisions", "Positioning", "Jumping Reach", "Fitness", "Pace", "Strength", "Heading", "Marking", "Tackling" ]

weights =   {'Anticipation': 0.05,
             'Bravery': 0.05,
             "Acceleration": 0.05,
             'Concentration': 0.05,
             'Decisions': 0.05,
             'Positioning': 0.05,
             'Jumping Reach': 0.05,
             'Fitness': 0.1,
             'Pace': 0.05,
             'Strength': 0.15,
             'Heading': 0.15,
             'Marking': 0.1,
             'Tackling': 0.1}.values()

current_ability = "def"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                    Name  def
151644   Virgil van Dijk   84
73546     Milan Škriniar   82
151642        Rúben Dias   81
73586   Francesco Acerbi   79
151815      Tomáš Souček   79

<h3 style="color:red;">  Passing</h3>

In [131]:
expert_attributes = ["Crossing", "First Touch", "Passing", "Technique", "Decisions", "Determination", "Vision"]
weights =   {'Crossing': 0.10,
             'First Touch': 0.10,
             'Passing': 0.35,
             'Technique': 0.20,
             'Decisions': 0.05,
             'Determination': 0.05,
             'Vision': 0.15}

current_ability = "pas"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                   Name  pas
167956     Lionel Messi   94
167959      Luka Modrić   93
151638  Kevin De Bruyne   90
167960    Karim Benzema   90
167970       Toni Kroos   89

<h3 style="color:red;">  Dribbling</h3>

In [132]:
expert_attributes = ["Dribbling","First Touch","Acceleration","Agility","Balance","Fitness","Pace"]

weights =   {'Dribbling': 0.35,
             'First Touch': 0.05,
             'Acceleration': 0.20,
             'Agility': 0.10,
             'Balance': 0.10,
             'Fitness': 0.05,
             'Pace': 0.15}

current_ability = "dri"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                   Name  dri
167957    Kylian Mbappé   90
151738     Adama Traoré   87
151640    Mohamed Salah   86
167956     Lionel Messi   86
167964  Vinícius Júnior   85

<h3 style="color:red;">  Shooting</h3>

In [133]:
expert_attributes = ["Finishing"]
weights =   {'Finishing': 1}.values()

current_ability = "fin"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                      Name  fin
167958  Robert Lewandowski   95
73550   Zlatan Ibrahimović   95
151641          Harry Kane   95
151646   Cristiano Ronaldo   95
73547        Ciro Immobile   90

<h3 style="color:green;">  Stamina</h3>

In [134]:
expert_attributes = ["Stamina"]
weights =   {'Stamina': 1}.values()

current_ability = "sta"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                         Name  sta
42332          Joshua Kimmich  100
151691            Mason Mount  100
151758  Pierre-Emile Højbjerg  100
73553        Marcelo Brozović  100
151729      James Ward-Prowse  100

<h3 style="color:green;">  Strength</h3>

In [135]:
expert_attributes = ["Strength"]
weights =   {'Strength': 1}.values()

current_ability = "sta"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                     Name  sta
73542       Romelu Lukaku  100
151713         Kurt Zouma  100
73580        Duván Zapata   95
168032      Franck Kessié   95
151684  Kalidou Koulibaly   95

<h3 style="color:green;">  Heading</h3>

In [136]:
expert_attributes = ["Heading"]
weights =   {'Heading': 1}.values()

current_ability = "hed"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                     Name  hed
167965       Sergio Ramos  100
151646  Cristiano Ronaldo   95
75806         Milan Đurić   95
73561      Olivier Giroud   95
152194       Craig Dawson   90

<h3 style="color:purple;">  Mental</h3>

In [137]:
expert_attributes = ["Aggression", "Composure", "Concentration"]
weights =   {'Aggression': 0.15,
             'Composure': 0.40,
             'Concentration': 0.45}

current_ability = "men"
fm_df[current_ability] = (fm_df[expert_attributes] * weights).sum(axis=1).astype(int)
fm_df[["Name", current_ability]].sort_values(current_ability, ascending=False).head()

                   Name  men
151660     Thiago Silva   91
167993      Axel Witsel   87
167959      Luka Modrić   85
151645          Ederson   85
167980  Sergio Busquets   85

# CSV EXPORT

In [138]:
merged_df.to_csv("fm23db_v1.csv")