In [371]:
import pandas as pd
import numpy as np
import seaborn as sns
import re

<br>

# Goal Count Per Match

In [372]:
data_eng = {
    'Goals': [2, 3, 1, 4, 5, 0, 6, 7, 8, 9],
    'Percentage': [22.9, 20.8, 18.4, 15.0, 8.2, 6.1, 4.7, 2.6, 0.8, 0.5],
    'Count': [87, 79, 70, 57, 31, 23, 18, 10, 3, 2],
    'League': ['eng'] * 10  # All rows have the same league 'eng'
}

df_eng = pd.DataFrame(data_eng)

In [373]:
data_ita = {
    'Goals': [2, 3, 1, 4, 5, 0, 6, 7],
    'Percentage': [24.9, 22.5, 18.7, 14.5, 7.3, 7.3, 3.5, 1.4],
    'Count': [72, 65, 54, 42, 21, 21, 10, 4],
    'League': ['ita'] * 8  # All rows have the same league 'ita'
}

df_ita = pd.DataFrame(data_ita)

In [374]:
data_esp = {
    'Goals': [2, 1, 3, 4, 0, 5, 6, 7, 8],
    'Percentage': [26.3, 19.7, 18.3, 11.1, 8.7, 7.6, 4.8, 2.4, 1.0],
    'Count': [76, 57, 53, 32, 25, 22, 14, 7, 3],
    'League': ['esp'] * 9  # All rows have the same league 'esp'
}

df_esp = pd.DataFrame(data_esp)

In [375]:
data_ger = {
    'Goals': [2, 3, 4, 1, 5, 6, 0, 7, 8, 9],
    'Percentage': [22.6, 21.4, 20.5, 11.1, 9.4, 7.7, 3.8, 2.1, 0.9, 0.4],
    'Count': [53, 50, 48, 26, 22, 18, 9, 5, 2, 1],
    'League': ['ger'] * 10  # All rows have the same league 'ger'
}

df_ger = pd.DataFrame(data_ger)

In [376]:
data_fra = {
    'Goals': [3, 2, 4, 1, 0, 5, 6, 8, 7],
    'Percentage': [23.5, 23.1, 16.2, 16.2, 10.3, 6.4, 3.0, 0.9, 0.4],
    'Count': [55, 54, 38, 38, 24, 15, 7, 2, 1],
    'League': ['fra'] * 9  # All rows have the same league 'fra'
}

df_fra = pd.DataFrame(data_fra)

In [377]:
# List of DataFrames for each league
dfs = [df_eng, df_ita, df_esp, df_ger, df_fra]

# Concatenate DataFrames
df_merged = pd.concat(dfs)
df_merged.drop(columns=["Percentage"], inplace=True)

# Group by 'Goals' and sum up the 'Count' for each goal
df_merged = df_merged.groupby('Goals').agg({'Count': 'sum'}).reset_index()

total_count = df_merged['Count'].sum()

In [378]:
df_merged['Percentage'] = df_merged['Count'] / total_count * 100

In [379]:
goals_per_match = df_merged.copy()

In [380]:
goals_per_match

   Goals  Count  Percentage
0      0    102    7.152875
1      1    245   17.180926
2      2    342   23.983170
3      3    302   21.178121
4      4    217   15.217391
5      5    111    7.784011
6      6     67    4.698457
7      7     27    1.893408
8      8     10    0.701262
9      9      3    0.210379

In [381]:
goals = goals_per_match['Goals'].tolist()
probabilities = goals_per_match['Percentage'].div(100).tolist()  # Convert percentage to probability

random_goal = np.random.choice(goals, p=probabilities)
print("-----",random_goal,"-----")

----- 1 -----

<br>

# Next Goal Probability