In [449]:
import pandas as pd
import numpy as np
import os
import math
import json

In [450]:
import warnings
from sklearn.exceptions import UndefinedMetricWarning
from pandas.errors import SettingWithCopyWarning
warnings.filterwarnings("ignore", category=UndefinedMetricWarning)
warnings.simplefilter(action='ignore', category=(SettingWithCopyWarning))
warnings.simplefilter(action='ignore', category=(FutureWarning))

In [451]:
defense = pd.read_csv("../match_logs/Big5@22-23@defense.csv")
gca = pd.read_csv("../match_logs/Big5@22-23@gca.csv")
keeper = pd.read_csv("../match_logs/Big5@22-23@keeper.csv")
misc = pd.read_csv("../match_logs/Big5@22-23@misc.csv")
passing = pd.read_csv("../match_logs/Big5@22-23@passing.csv")
passing_types = pd.read_csv("../match_logs/Big5@22-23@passing_types.csv")
possession = pd.read_csv("../match_logs/Big5@22-23@possession.csv")
shooting = pd.read_csv("../match_logs/Big5@22-23@shooting.csv")

In [452]:
pd.read_csv("../players_db/fm23/fm23db_processed.csv").sort_values(by="tpr",ascending=False)[["Club","Name","Best_Pos","tpr"]].head(25)

                     Club                   Name Best_Pos  tpr
3               FC Bayern           Manuel Neuer       GK   92
4164         FC Barcelona     Robert Lewandowski       ST   92
3193      Manchester City         Erling Haaland       ST   90
3195    Tottenham Hotspur             Harry Kane       ST   90
4172         FC Barcelona  Marc-André ter Stegen       GK   89
3197      Manchester City         Bernardo Silva      AMR   89
3192      Manchester City        Kevin De Bruyne       MC   89
3194            Liverpool          Mohamed Salah      AMR   89
4165          Real Madrid            Luka Modrić       MC   88
3213    Manchester United        Bruno Fernandes      AMC   88
3201            Liverpool                Alisson       GK   88
3199      Manchester City                Ederson       GK   88
0               FC Bayern         Joshua Kimmich       DM   88
1353             AC Milan     Zlatan Ibrahimović       ST   88
2               FC Bayern          Thomas Müller      AMC   88
1364             AC Milan         Olivier Giroud       ST   87
1               FC Bayern             Sadio Mané      AML   87
1347       Internazionale         Nicolò Barella       MC   87
4162  Paris Saint-Germain           Lionel Messi      AMC   87
1345       Internazionale          Romelu Lukaku       ST   87
4166          Real Madrid          Karim Benzema       ST   87
4167  Paris Saint-Germain                 Neymar      AML   87
4171  Paris Saint-Germain           Sergio Ramos       DC   87
3198            Liverpool        Virgil van Dijk       DC   87
4194  Paris Saint-Germain         Marco Verratti       MC   86

In [453]:
team_ratings = pd.read_csv("../players_db/fm23/team_ratings.csv")

In [454]:
team_ratings_cols = team_ratings.columns

In [455]:
team_ratings.sort_values("tpr", ascending=False).head(n=10)

,Club,GK,Based,Division,Club_id,League_id,tpr,Anticipation,Stamina,Balance,...,Corners,Leadership,Teamwork,Strength,Determination,Work_Rate,Long_Shots,Passing,First_Touch,fbref_name
0,FC Bayern,92,Germany (Bundesliga),Bundesliga,3704,185,92,85,87,77,...,71,87,86,82,88,85,84,76,73,Bayern Munich
2,Liverpool,86,England (Premier Division),English Premier Division,6518,354,92,83,85,87,...,78,90,88,81,86,85,66,85,88,Liverpool
3,Manchester City,86,England (Premier Division),English Premier Division,6827,354,89,88,85,75,...,78,75,72,82,84,85,77,90,86,Manchester City
51,Paris Saint-Germain,70,France (Ligue 1 Uber Eats),Ligue 1 Uber Eats,7994,773,89,83,75,87,...,79,80,76,77,84,72,81,88,88,Paris S-G
6,Real Madrid,79,Spain (First Division),Spanish First Division,8716,1215,87,83,80,81,...,82,83,80,82,84,81,84,92,92,Real Madrid
1,FC Barcelona,90,Spain (First Division),Spanish First Division,1435,1215,87,92,82,83,...,69,83,84,79,79,72,70,81,83,Barcelona
13,Chelsea,77,England (Premier Division),English Premier Division,2432,354,84,88,92,83,...,69,85,88,88,88,92,64,74,81,Chelsea
26,AC Milan,73,Italy (Serie A),Italian Serie A,7093,710,82,79,72,92,...,71,92,86,88,92,67,79,71,81,Milan
20,Internazionale,75,Italy (Serie A),Italian Serie A,5215,710,82,81,80,87,...,78,79,92,92,92,81,84,81,76,Inter
9,Juventus,79,Italy (Serie A),Italian Serie A,5523,710,79,83,79,75,...,76,85,80,90,86,71,82,85,76,Juventus

In [456]:
tpr_cols = []
except_cols = ["Club","Based","Division","Club_id","League_id","fbref_name"]
for col in team_ratings_cols:
    if col not in except_cols:
        for xy in ["x","y"]:
            xy_col = f"{col}_{xy}"
            tpr_cols.append(xy_col)

<br><br><br><br><br><br><br><br>
<h1 style="color:orange;background:blue;">@.  Logs to Regression</h1>

In [457]:
CURRENT_DATAFRAME_NAME = "passing"
attribute = "Att"

In [458]:
CURRENT_DATAFRAME = locals()[CURRENT_DATAFRAME_NAME]
CURRENT_DATAFRAME["Unnamed: 0"] = "itsanobject"

In [459]:
# CURRENT_DATAFRAME["Unique_Matchday_id"] = ((CURRENT_DATAFRAME.Club).apply(hash)+(CURRENT_DATAFRAME.Opponent).apply(hash)).apply(str)
# unique_indexes = CURRENT_DATAFRAME["Unique_Matchday_id"].drop_duplicates().index
# CURRENT_DATAFRAME = CURRENT_DATAFRAME.loc[unique_indexes]

In [460]:
DATAFRAME_COLUMNS = list(CURRENT_DATAFRAME.columns)
NUMERIC_DATAFRAME_COLUMNS = list(CURRENT_DATAFRAME.select_dtypes(exclude="object").columns)

In [461]:
CURRENT_DATAFRAME[NUMERIC_DATAFRAME_COLUMNS].describe().loc[['count','min', 'mean', 'max']].T[["mean"]].apply(round)

           mean
GF          1.0
GA          1.0
Cmp       385.0
Att       487.0
Cmp%       78.0
TotDist  6880.0
PrgDist  2508.0
Cmp.1     171.0
Att.1     196.0
Cmp%.1     86.0
Cmp.2     162.0
Att.2     189.0
Cmp%.2     84.0
Cmp.3      41.0
Att.3      75.0
Cmp%.3     55.0
Ast         1.0
xAG         1.0
xA          1.0
KP          9.0
1/3        30.0
PPA         8.0
CrsPA       2.0
PrgP       38.0

In [462]:
merged_df_1 = pd.merge(CURRENT_DATAFRAME, team_ratings, on="Club", how="inner")  
merged_df_2 = pd.merge(merged_df_1, team_ratings, left_on="Opponent", right_on="fbref_name", how="inner") 
merged_df = merged_df_2.copy()

In [463]:
merged_df["Versus_Title"] = merged_df.Club_x + " plays vs " + \
                             merged_df.Club_y + " as " + merged_df.Venue + " team"
merged_df["tpr_diff"] = merged_df.tpr_x - merged_df.tpr_y
merged_df["tpr_diff_abs"] = abs(merged_df.tpr_x - merged_df.tpr_y)
merged_df["goal_diff"] = merged_df.GF - merged_df.GA
merged_df["goal_diff_abs"] = abs(merged_df.GF - merged_df.GA)

In [464]:
merged_df = merged_df.query("goal_diff > 0 and tpr_diff > 1")
merged_df.describe()

,GF,GA,Cmp,Att,Cmp%,TotDist,PrgDist,Cmp.1,Att.1,Cmp%.1,...,Strength_y,Determination_y,Work_Rate_y,Long_Shots_y,Passing_y,First_Touch_y,tpr_diff,tpr_diff_abs,goal_diff,goal_diff_abs
count,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,...,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000,814.000000
mean,2.522113,0.554054,446.369779,544.156020,80.838329,7786.127764,2724.115479,205.173219,229.843980,88.211179,...,73.748157,70.534398,70.886978,67.447174,65.468059,64.175676,8.883292,8.883292,1.968059,1.968059
std,1.291043,0.718001,130.250708,124.498439,6.416168,2017.029525,472.181063,72.717457,72.907422,4.800788,...,5.558519,8.422904,7.826816,6.217979,5.108499,5.451551,6.223780,6.223780,1.202278,1.202278
min,1.000000,0.000000,124.000000,234.000000,50.900000,2256.000000,1053.000000,52.000000,74.000000,69.100000,...,62.000000,50.000000,55.000000,55.000000,57.000000,55.000000,2.000000,2.000000,1.000000,1.000000
25%,2.000000,0.000000,347.000000,453.000000,77.025000,6285.000000,2391.250000,150.250000,176.000000,85.325000,...,70.250000,64.000000,65.000000,64.000000,62.000000,60.000000,5.000000,5.000000,1.000000,1.000000
50%,2.000000,0.000000,433.500000,530.500000,81.700000,7627.500000,2714.500000,195.000000,220.000000,89.200000,...,73.000000,71.000000,71.000000,66.000000,65.000000,65.000000,7.000000,7.000000,2.000000,2.000000
75%,3.000000,1.000000,534.000000,631.750000,85.700000,9155.250000,3031.500000,251.000000,274.750000,91.800000,...,77.000000,77.000000,76.000000,71.000000,67.000000,68.000000,12.000000,12.000000,2.000000,2.000000
max,9.000000,4.000000,817.000000,917.000000,93.300000,13597.000000,4221.000000,446.000000,473.000000,97.400000,...,90.000000,92.000000,92.000000,92.000000,90.000000,86.000000,30.000000,30.000000,9.000000,9.000000

In [465]:
MERGED_NUMERIC_DATAFRAME_COLUMNS = list(merged_df.select_dtypes(exclude="object").columns)

In [466]:
reg_df = merged_df[['Club_x','Club_y',"Versus_Title","Date"] + MERGED_NUMERIC_DATAFRAME_COLUMNS] 
reg_df.iloc[0]

Club_x                                             Manchester City
Club_y                                             West Ham United
Versus_Title     Manchester City plays vs West Ham United as Aw...
Date                                                    2022-08-07
GF                                                             2.0
                                       ...
First_Touch_y                                                   75
tpr_diff                                                        12
tpr_diff_abs                                                    12
goal_diff                                                      2.0
goal_diff_abs                                                  2.0
Name: 0, Length: 112, dtype: object

<br><br><br><br><br><br><br><br>
<h2 style="color:white;background:red;">  Regression to get Feature Importance</h2>

In [467]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [468]:
opponent_cols = [col for col in tpr_cols if "_x" in col]
opponent_cols.append("tpr_x")

In [469]:
tpr_only_cols = ["tpr_x","tpr_y"]
formula_df = pd.DataFrame(index=tpr_only_cols)#pd.DataFrame(index=tpr_cols)
np.random.seed(0)
df = reg_df.dropna(axis=0)
NUMERIC_DATAFRAME_COLUMNS = [attribute] #only attribute

for attr in NUMERIC_DATAFRAME_COLUMNS:
    X = df[tpr_only_cols] #df[tpr_cols]
    Y = df[[attr]]
    
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
    model = LinearRegression()
    model.fit(X_train, Y_train)
    Y_pred = model.predict(X_test)
    
    coef_column_name = f"{attr}_coef"
    intercept_column_name = f"{attr}_intercept"
    formula_df[coef_column_name] = model.coef_.flatten()
    formula_df[intercept_column_name] = model.intercept_[0]

    mse = mean_squared_error(Y_test, Y_pred)
    r2 = r2_score(Y_test, Y_pred)
    print(f'{attr} --- Mean Squared Error: {mse}')
    print(f'{attr} --- R^2 Score: {r2}')
    # print("\n")

Att --- Mean Squared Error: 9376.861735745239
Att --- R^2 Score: 0.3833577902583307

In [470]:
fdf_attribute = f"{attribute}_coef"
absolute_fdf_attribute = f"abs_{attribute}_coef"

formula_df[absolute_fdf_attribute] = formula_df[fdf_attribute].apply(abs)
sorted_formula_df = formula_df.query(f"{absolute_fdf_attribute} > 0.1").sort_values(by=absolute_fdf_attribute, ascending=False)
sorted_formula_df

        Att_coef  Att_intercept  abs_Att_coef
tpr_x  10.492635     210.891427     10.492635
tpr_y  -6.921988     210.891427      6.921988

In [471]:
sorted_formula_df.loc[:, fdf_attribute]

tpr_x    10.492635
tpr_y    -6.921988
Name: Att_coef, dtype: float64

<h4 style="color:green;background:;">  Coef to CSV</h4>

In [472]:
formula_df.to_excel(f"{CURRENT_DATAFRAME_NAME.upper()}_Coefficients.xlsx")

<br><br><br><br><br><br><br><br>
<h2 style="color:white;background:green;">  RESEARCHING MATHEMATICS</h2>

In [473]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

# Load your data
data = merged_df

# Define features and target
features = tpr_cols
target = attribute

# Split the data
X_train, X_test, y_train, y_test = train_test_split(data[features], data[target], test_size=0.24, random_state=42)

# Initialize and train the model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model.fit(X_train, y_train)

# Predictions
predictions = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 8986.74815077273

In [474]:
reg_df.query("Versus_Title == 'Manchester City plays vs Aston Villa as Home team'").iloc[0].name

191

In [475]:
reg_df.loc[191]

Club_x                                             Manchester City
Club_y                                                 Aston Villa
Versus_Title     Manchester City plays vs Aston Villa as Home team
Date                                                    2023-02-12
GF                                                             3.0
                                       ...
First_Touch_y                                                   68
tpr_diff                                                        15
tpr_diff_abs                                                    15
goal_diff                                                      2.0
goal_diff_abs                                                  2.0
Name: 191, Length: 112, dtype: object

In [476]:
prediction_gbr = model.predict([reg_df.iloc[191][features]])[0]

print(f'Gradient Boosting Regressor Prediction: {prediction_gbr}')

Gradient Boosting Regressor Prediction: 491.40017143906465

C:\Users\okany\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

<br><br><br><br>

<br><br><br><br><br><br><br><br>
<h2 style="color:#33FF49;background:blue;">  Regression for One Atrribute</h2>

In [477]:
# tpr_x_dict = {
#     "tpr_x": None,
#     "Acceleration_x": None,
#     "Technique_x": None,
#     "Finishing_x": None,
#     "Composure_x": None,
#     "Agility_x": None,
#     "Long_Shots_x": None,
#     "Off_the_Ball_x": None,
#     "Teamwork_x": None,
#     "Work_Rate_x": None,
#     "First_Touch_x": None
# }
tpr_x_dict = {"tpr_x": None}

In [478]:
# tpr_y_dict = {
#     "tpr_y": None,
#     "Acceleration_y": None,
#     "Off_the_Ball_y": None,
#     "Agility_y": None,
#     "Work_Rate_y": None,
#     "Decisions_y": None,
#     "Teamwork_y": None,
#     "Balance_y": None,
#     "Positioning_y": None,
#     "Marking_y": None
# }
tpr_y_dict = {"tpr_y": None}
# for col in opponent_cols:
#     tpr_y_dict[col] = None

In [479]:
# https://fbref.com/en/matches/5965a1a5/Bayern-Munich-Bochum-February-11-2023-Bundesliga
# row_index= 3221 # for Bayern
# row_index2222= 3758 # for Bochum

row_index = 722 # for Liverpool
row_index222 = None # for Manchester City

x_cols = tpr_x_dict.keys()
y_cols = tpr_y_dict.keys()

tpr_x_custom_data = reg_df[x_cols].iloc[row_index].to_dict()
tpr_y_custom_data = reg_df[y_cols].iloc[row_index].to_dict()

custom_data = {**tpr_x_custom_data, **tpr_y_custom_data}
custom_cols = custom_data.keys()

In [480]:
custom_cols

dict_keys(['tpr_x', 'tpr_y'])

In [481]:
reg_df.iloc[row_index]

Club_x                                               Gladbach
Club_y                                          VfB Stuttgart
Versus_Title     Gladbach plays vs VfB Stuttgart as Home team
Date                                               2022-11-04
GF                                                        3.0
                                     ...
First_Touch_y                                              56
tpr_diff                                                    5
tpr_diff_abs                                                5
goal_diff                                                 2.0
goal_diff_abs                                             2.0
Name: 3332, Length: 112, dtype: object

In [482]:
reg_df[x_cols].iloc[row_index]

tpr_x    72
Name: 3332, dtype: int64

In [483]:
q1 = reg_df.query("Versus_Title == 'Manchester City plays vs Liverpool as Home team'")
q2 = reg_df.query("Versus_Title == 'Liverpool plays vs Manchester City as Home team'")
queries = ["", q1, q2]
query_no = 2
print(queries[query_no].iloc[0].Date)
queries[query_no].iloc[0].name
queries[query_no].iloc[0].name

2022-10-16

722

In [484]:
special_formula_df = pd.DataFrame(index=custom_cols)

df_to_custom = df.copy()
X = df_to_custom[custom_cols]
Y = df_to_custom[[attribute]]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)
model = LinearRegression()
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)

coef_column_name = f"{attribute}_coef"
intercept_column_name = f"{attribute}_intercept"
special_formula_df[coef_column_name] = model.coef_.flatten()
special_formula_df[intercept_column_name] = model.intercept_[0]

mse = mean_squared_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)

In [485]:
special_formula_df.sort_values(by=fdf_attribute, ascending=False)

        Att_coef  Att_intercept
tpr_x  10.492635     210.891427
tpr_y  -6.921988     210.891427

In [486]:
custom_tpr_df = pd.DataFrame(custom_data, index=["tpr_value"]).T

In [487]:
custom_tpr_df[f"{attribute}_coef"] = special_formula_df[f"{attribute}_coef"][custom_cols].tolist()
custom_tpr_df[f"{attribute}_intercept"] = special_formula_df[f"{attribute}_intercept"][custom_cols].tolist()
custom_tpr_df["coef_result"] = custom_tpr_df[f"{attribute}_coef"] * custom_tpr_df["tpr_value"]
custom_tpr_df["formula_result"] = custom_tpr_df["coef_result"].sum() + custom_tpr_df[f"{attribute}_intercept"].iloc[0]
custom_tpr_df["formula_result"] = custom_tpr_df["formula_result"].iloc[0]#round(custom_tpr_df["formula_result"].iloc[0])
custom_tpr_df["formula_result_per_minute"] = custom_tpr_df["formula_result"].iloc[0] / 90
round(custom_tpr_df["formula_result"].iloc[0])

503

In [488]:
prob_of_shot_in_a_minute = custom_tpr_df["formula_result_per_minute"].iloc[0]

def ProbAction(prob_of_shot_in_a_minute):
    r = np.random.choice([1, 0], p=[prob_of_shot_in_a_minute, 1-prob_of_shot_in_a_minute])
    return r

In [489]:
counter = 0

for minute in range(1, 91):
    result = ProbAction(prob_of_shot_in_a_minute)
    counter+=result

counter

ValueError: probabilities are not non-negative

In [ ]:
### custom_tpr_df.loc[:, "tpr_value"]

In [ ]:
custom_tpr_df.index

In [ ]:
json.loads('["x","y","z"]')

<br><br><br><br><br><br><br><br>
<h2 style="color:blue;background:aqua;">  Error Rates</h2>

In [490]:
def Action_Volume_Predict(attribute, formula_df, input_df):
    coefficients = sum(special_formula_df.loc[:, f"{attribute}_coef"] * input_df[custom_cols])
    result = (coefficients + special_formula_df.loc[:, f"{attribute}_intercept"])
    return result.iloc[0]

In [491]:
error_df = reg_df.dropna()[["Club_x","Club_y","tpr_x","tpr_y","Att"]]
error_df.describe()

            tpr_x       tpr_y         Att
count  814.000000  814.000000  814.000000
mean    76.522113   67.638821  544.156020
std      7.406747    4.452540  124.498439
min     62.000000   59.000000  234.000000
25%     72.000000   64.000000  453.000000
50%     74.000000   67.000000  530.500000
75%     79.000000   69.000000  631.750000
max     92.000000   89.000000  917.000000

In [492]:
error_df["Att_min"] = error_df["Att"] / 90
error_df["Predicted"] = error_df.apply(lambda row: Action_Volume_Predict(attribute, special_formula_df, row[custom_cols]), axis=1)
error_df["Predicted_min"] = error_df["Predicted"] / 90
error_df["Error"] = error_df["Att"] - error_df["Predicted"]
error_df["Error_min"] = error_df["Att_min"] - error_df["Predicted_min"]

In [493]:
error_df.mean(numeric_only=True)

tpr_x             76.522113
tpr_y             67.638821
Att              544.156020
Att_min            6.046178
Predicted        545.614938
Predicted_min      6.062388
Error             -1.458919
Error_min         -0.016210
dtype: float64

In [494]:
mancity_raw = merged_df_2.dropna()
mancity_raw["tpr_diff"] = mancity_raw.tpr_x - mancity_raw.tpr_y
mancity_raw["tpr_diff_abs"] = abs(mancity_raw.tpr_x - mancity_raw.tpr_y)
mancity = mancity_raw.query("tpr_diff_abs > 5")[["Club_x","Club_y","tpr_x","tpr_y","Att"]]

for n in range(30):
    mancity = mancity_raw.query(f"tpr_diff_abs > {n}")[["Club_x","Club_y","tpr_x","tpr_y","Att"]]
    
    data = mancity.Att
    mancity_att = pd.Series(data)
    mean_val = mancity_att.mean()
    distances = mancity_att - mean_val
    percentage_distances = (distances / mean_val) * 100
    np.random.seed(42)
    randomness = np.random.uniform(-0.1, 0.1, size=percentage_distances.shape) * percentage_distances
    adjusted_values = mancity_att + randomness
    
    df_comparison = pd.DataFrame({
        'Original': mancity_att,
        'Percentages_Distance': percentage_distances,
        'Randomness': randomness,
        'Adjusted': adjusted_values
    })
    
    median = df_comparison.Percentages_Distance.median()
    print(n, median)

0 -1.9519916459055935
1 -1.9519916459055935
2 -2.008905020152355
3 -1.6965986891905003
4 -1.6965986891905003
5 -1.506792634990692
6 -1.506792634990692
7 -1.1047973129977358
8 -0.750527821289932
9 -0.750527821289932
10 -0.5876801647220383
11 -0.5876801647220383
12 -1.505317605285169
13 -2.4047095152188285
14 -2.4047095152188285
15 0.9373128828704407
16 0.9373128828704407
17 1.5857988165680474
18 2.197802197802191
19 2.197802197802191
20 0.979248914677489
21 0.979248914677489
22 0.8216264982600807
23 -0.2701588900590728
24 -0.2701588900590728
25 -5.295109612141653
26 -5.295109612141653
27 0.02849814762040026
28 3.404448479346346
29 3.404448479346346